<!--
    Component definitions for the embedded editor and syntax highlighter are
    contained here.
-->
<Component name="DemoEditor">
    <Props
        value
        src
        preview
        example
        editex
        component
        collapsed
        includes
    ></Props>
    <Template
        -name="template_demo"
        -src="./DemoEditor/DemoEditor-demo.html"
    ></Template>
    <Template
        -name="template_toolbar"
        -src="./DemoEditor/DemoEditor-toolbar.html"
    ></Template>
    <Template
        -src="./DemoEditor/DemoEditor.html"
    ></Template>
    <State
        divider:=310
        font-size:=16
        demo=""
        value=""
        component-name=""
        example-code=""
        export-code=""
        includes-code=""
        alt-editor-code:=""
        is-fetching:=null
        show-editor:=null
        show-menu:=null
        show-alt-editor:=null
        alt-editor-selected="Usage"
        alt-editor-list:=null
    ></State>
    <Script
        lifecyle="initialized"
        -src="./DemoEditor/DemoEditor.js"
    ></Script>
    <Style
        -src="./DemoEditor/DemoEditor.css"
    ></Style>
</Component>

<Component name="DemoEditor2">
    <Props
        value
        src
        preview
        example
        editex
        component
        collapsed
        includes
    ></Props>
    <Template
        -name="template_demo"
        -src="./DemoEditor/DemoEditor-demo.html"
    ></Template>
    <Template
        -name="template_toolbar"
        -src="./DemoEditor/DemoEditor-toolbar.html"
    ></Template>
    <Template
        -src="./DemoEditor/DemoEditor2.html"
    ></Template>
    <State
        buffers:=[]
        selected-buffer:=-1
        divider:=310
        font-size:=16
        component-name=""
        is-fetching:=null
        show-editor:=null
        show-menu:=null
    ></State>
    <Script
        lifecyle="initialized"
        -src="./DemoEditor/DemoEditor2.js"
    ></Script>
    <Style
        -src="./DemoEditor/DemoEditor.css"
    ></Style>
</Component>



<Component name="DemoBox">
    <Props
        value
        component
        example
    ></Props>
    <Template>
        <div [modulodemo.demo]></div>
    </Template>
    <!-- Hook the ModuloDemo CPart directly to Props -->
    <ModuloDemo
        value="props.value"
        component="props.component"
        example="props.example"
    ></ModuloDemo>
    <!--
    <Style
        -src="./DemoBox/DemoBox.css"
    ></Style>
    -->
</Component>

<Component name="SyntaxEditor" rerender="manual">
    <Props
        value
        name
        fast
        spellcheck
        component
        fontsize
        debounce-time
    ></Props>
    <Template
        -src="./SyntaxEditor/SyntaxEditor.html"
    ></Template>
    <State
        selection-start:=0
        scroll-top:=0
        scroll-left:=0
        width:=0
        height:=0
        value=""
        received-value:=null
    ></State>
    <!-- TODO -- is initialized needeD? -->
    <Script
        lifecyle="initialized"
        -src="./SyntaxEditor/SyntaxEditor.js"
    ></Script>
    <Style
        -src="./SyntaxEditor/SyntaxEditor.css"
    ></Style>
</Component>

<Component name="SyntaxHighlighter">
    <Props
        value
        mode
        fix
    ></Props>
    <Script -src="./SyntaxHighlighter/highlight/highlight.min.js">
        modulo.register('util', function syntaxHighlight(text, opts) {
            return hljs.highlight(text, opts).value;
        });
    </Script>
    <Script
        -src="./SyntaxHighlighter/SyntaxHighlighter.js"
    ></Script>
    <Style
        -src="./SyntaxHighlighter/custom-scheme.css"
    ></Style>
</Component>

<Component name="EditorGrid">
    <Template
        -src="./EditorGrid/EditorGrid.html"
    ></Template>
    <State
        selected:=null
    ></State>
    <StaticData
        -src="../../data/links/examples.js"
    ></StaticData>
    <Script>
        function getTitle(s) {
            const parts = s.split('.')[0].split('/');
            return parts[parts.length - 1];
        }
        modulo.register('templateFilter', getTitle);
        function showDemo(demoFileName) {
            state.selected = demoFileName;
            /*
            setTimeout(() => {
                // Messy hack to force it to run + rerender when selected
                const editor = element.querySelector('x-DemoEditor#de_for_' + getTitle(demoFileName));
                const synEditor = editor.querySelector('x-SyntaxEditor');
                editor.cparts.modulosandbox.editor = synEditor;
                editor.cparts.modulosandbox.run();
            }, 0);
            */
        }
        function prepareCallback() {
            const examples = [];
            return { examples };
        }
    </Script>
    <Style
        -src="./EditorGrid/EditorGrid.css"
    ></Style>
</Component>

