<!--
    Component definitions for the embedded editor and syntax highlighter are
    contained here.
-->

<Component name="DemoEditor">
    <Props
        value
        src
        collapsed
    ></Props>
    <Template
        -src="./DemoEditor/DemoEditor.html"
    ></Template>
    <State
        divider:=240
        demo=""
        value=""
        show-editor:=null
    ></State>
    <Script
        -src="./DemoEditor/DemoEditor.js"
    ></Script>
    <Style
        -src="./DemoEditor/DemoEditor.css"
    ></Style>
</Component>

<Component name="SyntaxEditor" rerender="manual">
    <Props
        value
        name
        fast
        spellcheck
        component
        debounce-time
    ></Props>
    <Template
        -src="./SyntaxEditor/SyntaxEditor.html"
    ></Template>
    <State
        selection-start:=0
        scroll-top:=0
        width:=0
        height:=0
        value=""
        received-value:=null
    ></State>
    <Script
        -src="./SyntaxEditor/SyntaxEditor.js"
    ></Script>
    <Style
        -src="./SyntaxEditor/SyntaxEditor.css"
    ></Style>
</Component>

<Component name="SyntaxHighlighter">
    <Props
        value
        mode
    ></Props>
    <Script -src="./SyntaxHighlighter/highlight/highlight.min.js">
        function initializedCallback() {
            const text = props.value || element.originalHTML;
            const { mode } = props;
            if (mode && mode.includes('_')) {
                const [ modeName, editor ] = mode.split('_');
                mode = modeName;
                // TODO: replace self with editor
                const div = document.createElement('div');
                const valueAttr = text.replace('"', "&dquo;");
                div.innerHTML = `<x-SyntaxEditor value="${ valueAttr }"></x-SyntaxEditor>`;
                element.replaceWith(div.firstChild);
                element.wasReplaced = true; // prevent update from being called
            }
        }

        function updateCallback(renderObj) {
            if (element.wasReplaced) {
                return;
            }
            const text = props.value || element.originalHTML;
            // Should never have to encounter a '-'...
            const language = props.mode ? props.mode.split('_')[0] : 'django';
            const opts = { language };
            let html = hljs.highlight(text, opts).value;
            // Add in colors for Modulo tag names / attributes
            html = html.replace(/"hljs-name">([A-Z])/g, '"hljs-modulo-deftype">$1');
            html = html.replace(/"hljs-attr">([A-Z])/g, '"hljs-modulo-deftype-attr">$1');
            html = html.replace(/"hljs-name">([a-z]+-[A-Z])/g, '"hljs-modulo-component-tag">$1');
            html = html.replace(/"hljs-string">(true|false|null)/g, '"hljs-modulo-attr-value-lit">$1');
            html = html.replace(/"hljs-string">([A-Za-z])/g, '"hljs-modulo-attr-value">$1');
            html = html.replace(/"hljs-string">([0-9\[\{])/g, '"hljs-modulo-attr-value-lit">$1');
            element.innerHTML = html
         } 
    </Script>
    <Style
        -src="./SyntaxHighlighter/custom-scheme.css"
    ></Style>
</Component>


<Component name="EditorGrid">
    <Template
        -src="./EditorGrid/EditorGrid.html"
    ></Template>
    <State
        selected:=null
    ></State>
    <StaticData
        -src="../../data/links/examples.js"
    ></StaticData>
    <Script>
        modulo.register('templateFilter', function getTitle(s) {
            const parts = s.split('.')[0].split('/');
            return parts[parts.length - 1];
        });
        function showDemo(demoFileName) {
            state.selected = demoFileName;
        }
        function prepareCallback() {
            const examples = [];
            return { examples };
        }
    </Script>
    <Style
        -src="./EditorGrid/EditorGrid.css"
    ></Style>
</Component>

