<!--
    Component definitions for the embedded editor and syntax highlighter are
    contained here.
-->

<Component name="DemoEditor">
    <Props
        value
        src
        preview
        collapsed
        includes
    ></Props>
    <Template
        -src="./DemoEditor/DemoEditor.html"
    ></Template>
    <State
        divider:=240
        demo=""
        value=""
        show-editor:=null
        is-fetching:=null
    ></State>
    <ModuloSandbox></ModuloSandbox>
    <Style
        -src="./DemoEditor/DemoEditor.css"
    ></Style>
</Component>

<Component name="SyntaxEditor" rerender="manual">
    <Props
        value
        name
        fast
        spellcheck
        component
        debounce-time
    ></Props>
    <Template
        -src="./SyntaxEditor/SyntaxEditor.html"
    ></Template>
    <State
        selection-start:=0
        scroll-top:=0
        scroll-left:=0
        width:=0
        height:=0
        value=""
        received-value:=null
    ></State>
    <Script
        -src="./SyntaxEditor/SyntaxEditor.js"
    ></Script>
    <Style
        -src="./SyntaxEditor/SyntaxEditor.css"
    ></Style>
</Component>

<Component name="SyntaxHighlighter">
    <Props
        value
        mode
        fix
    ></Props>
    <Script -src="./SyntaxHighlighter/highlight/highlight.min.js">
        function initializedCallback() {
            const text = props.value || element.originalHTML;
            //console.log('inititalized callback!', text.length, text.substr(0, 20));
            let { mode } = props;
            if (mode && mode.includes('_')) {
                let [ modeName, editor ] = mode.split('_');
                mode = modeName;
                // Clean up to prevent double encoding:
                let valueAttr = text.replace(/&gt;/gi, '>').replace(/&lt;/gi, '<');
                valueAttr = valueAttr.replace(new RegExp('(\\W)/(script)>', 'ig'), '$1</$2>');
                const e = document.createElement('x-DemoEditor');
                e.setAttribute('value', valueAttr);
                e.setAttribute('class', element.getAttribute('class')); // copy class attr
                // TODO: Hack, make this search through the examples data structure to generate auto-include
                if (valueAttr.includes('<x-ExampleBtn')) {
                    e.setAttribute('includes', "/static/demos/usedby/ExampleBtn.html");
                }
                if (valueAttr.includes('<x-MemoryGame')) {
                    e.setAttribute('includes', "/static/demos/eg/MemoryGame.html");
                }
                if (valueAttr.includes('<x-HelloCount')) {
                    e.setAttribute('includes', "/static/demos/eg/HelloCount.html");
                }
                element.replaceWith(e);
                setTimeout(() => { // messy hack to force it to run + rerender
                    const syneditor = e.querySelector('x-SyntaxEditor');
                    e.cparts.modulosandbox.editor = syneditor;
                    e.cparts.modulosandbox.run();
                }, 0);
                element.wasReplaced = true; // prevent update from being called
            }
        }

        function updateCallback(renderObj) {
            if (element.wasReplaced) {
                return;
            }
            /*
            if (element.hasAttribute('modulo-original-html')) {
                element.removeAttribute('modulo-original-html');
                return; // lock if original HTML was set
            }
            */
            let text = props.value || element.originalHTML;
            // Undo exceccive HTML encoding
            if (props.fix === 'html_encoding') {
                text = text
                  .replace(/&gt;/gi, '>')
                  .replace(/&lt;/gi, '<');
                text = text.replace(new RegExp('(\\W)/(script)>', 'ig'), '$1</$2>');
            }
            // Should never have to encounter a '-'...
            const language = props.mode ? props.mode.split('_')[0] : 'django';
            const opts = { language };
            let html = hljs.highlight(text, opts).value;
            // Add in colors for Modulo tag names / attributes
            html = html.replace(/"hljs-name">([A-Z])/g, '"hljs-modulo-deftype">$1');
            html = html.replace(/"hljs-attr">([A-Z])/g, '"hljs-modulo-deftype-attr">$1');
            html = html.replace(/"hljs-name">([a-z]+-[A-Z])/g, '"hljs-modulo-component-tag">$1');
            html = html.replace(/"hljs-string">(true|false|null)/g, '"hljs-modulo-attr-value-lit">$1');
            html = html.replace(/"hljs-string">([A-Za-z])/g, '"hljs-modulo-attr-value">$1');
            html = html.replace(/"hljs-string">([0-9\[\{])/g, '"hljs-modulo-attr-value-lit">$1');
            element.innerHTML = html
         } 
    </Script>
    <Style
        -src="./SyntaxHighlighter/custom-scheme.css"
    ></Style>
</Component>


<Component name="EditorGrid">
    <Template
        -src="./EditorGrid/EditorGrid.html"
    ></Template>
    <State
        selected:=null
    ></State>
    <StaticData
        -src="../../data/links/examples.js"
    ></StaticData>
    <Script>
    	function getTitle(s) {
            const parts = s.split('.')[0].split('/');
            return parts[parts.length - 1];
        }
        modulo.register('templateFilter', getTitle);
        function showDemo(demoFileName) {
            state.selected = demoFileName;
            setTimeout(() => {
                // Messy hack to force it to run + rerender
            	const editor = element.querySelector('x-DemoEditor#de_for_' + getTitle(demoFileName));
                const synEditor = editor.querySelector('x-SyntaxEditor');
                editor.cparts.modulosandbox.editor = synEditor;
                editor.cparts.modulosandbox.run();
            }, 0);
        }
        function prepareCallback() {
            const examples = [];
            return { examples };
        }

        function updateCallback() {
            for (const editor of element.querySelectorAll('x-DemoEditor')) {
                /*
                setTimeout(() => { // Stupid hack to force it to run
                    const synEditor = editor.querySelector('x-SyntaxEditor');
                    if (!editor.cparts.modulosandbox.hasRun) {
                        editor.cparts.modulosandbox.run();
                    }
                }, 0);
                */
                /*
                editor.cparts.modulosandbox.editor = synEditor;
                editor.cparts.modulosandbox.run();
            	editor.cparts.modulosandbox.updateCallback(); // Hack to cause it to rerender / fix issue after display
                */
            }
        }
    </Script>
    <Style
        -src="./EditorGrid/EditorGrid.css"
    ></Style>
</Component>

