
<section class="{% if props.hadjust %}height-adjust{% endif %}">
    <div class="tab-btns">
        {% for child in script.tabElements %}
            <button 
                @click:=script.selectTab
                payload="{{ child.tabKey }}"
                class="{% if child.isSelected %}selected{% else %}unselected{% endif %}"
            >{{ child.tabTitle }}</button>
        {% endfor %}
    </div>
    <div class="tab-region">
        {% for child in script.tabElements %}
            <div style="
                    {% if child.isSelected %} display: block; height: 100%;
                    {% else %} display: none; height: 0; {% endif %}
                    width: 100%;
                "
                class="
                    {% if child.isSelected %}tab-region-inner--selected
                    {% else %}tab-region-inner--unselected{% endif %}
                "
                >
                {{ child.innerHTML|safe }}
            </div>
        {% endfor %}
    </div>
</section>


