<Props
    data
    animated
></Props>

<Template>
    <div class="chart-container {% if props.animated %}animated{% endif %}">
        {% for percent in script.percent %}
            <div style="
                height: {{ percent }}px;
                width: {{ script.width }}px;
            "></div>
        {% endfor %}
    </div>
    {% if not props.animated %}
        {% for value in script.data %}
            <label style="width: {{ script.width }}px">{{ value }}</label>
        {% endfor %}
    {% endif %}
</Template>

<Script>
    function prepareCallback() {
        let data = props.data || [];
        if (typeof data === 'string') {
            // Permit normal attributes (e.g. vs dataprops) containing JSON
            data = JSON.parse(data);
        }
        const max = Math.max(...data);
        // Scale to 0, uncomment the following to make it scale to the lowest
        const min = 0;// Math.min(...props.data),
        return {
            percent: data.map(item => ((item - min) / max) * 100),
            width: Math.floor(100 / data.length),
            data: data,
        }
    }
</Script>

<Style>
    .chart-container {
        border: 1px solid black;
        height: 100px;
        width: 100px;
        display: flex;
        align-items: flex-end;
    }
    .chart-container > div {
        box-sizing: border-box;
        background-color: #b90183;
        background-color: white;
        border: 1px solid grey;
        width: 30px;
        border-radius: 1px 3px 1px 3px;
        box-shadow: inset -3px -3px 1px 1px hsla(0,0%,39.2%,.3);
        margin-top: -3px;
    }

    .chart-container.animated > div {
        transition: height calc(var(--speed, 10) * 0.1s) var(--easing, linear);
    }
    .chart-container > div:first-of-type {
        margin-left: -4px;
    }
    .chart-container > div:hover {
        background-color: #b90183;
    }
    label {
        display: inline-block;
    }
</Style>

