

<ul>
    {% if props.showall %}
    {% else %}
        <h1>%</h1>
    {% endif %}

    <h2>Documentation</h2>
    <li>
        <a href="/docs/#TableOfContents" class="{% if "docs/"|isactive %}button--active{% endif %}">
            Table of Contents
        </a>
    </li>
    {% if props.showall %}
        <li> Tutorial: {{ staticdata.tutorial|get:0|get:"tutorialName" }}
            <ul>
            {% for page in staticdata.tutorial %}
                <li>
                    <a href="{{ page.filename }}" title="{{ page.label }}">{{ page.partLabel }}: {{ page.label }}</a>
                    <span class="hint">(<em>Topics: {{ page.keywords|join:', ' }}</em>)</span>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% else %}
        {% if "/tutorial/"|isactive %}
            <li class="button-sidebar">
                {{ staticdata.tutorial|get:0|get:"tutorialName" }}:
                {% for page in staticdata.tutorial %}
                    <a href="{{ page.filename }}" title="{{ page.label }}" class="{% if page.filename|isactive %}button--active{% endif %}">
                        {{ page.partLabel }}
                    </a>
                {% endfor %}
            </li>
        {% else %}
            <li>
                {% for page in staticdata.tutorial %}
                    {% if "1" in page.partLabel  %} {# found first #}
                        <a href="{{ page.filename }}" title="{{ page.label }}" class="{% if page.filename|isactive %}button--active{% endif %}">
                            {{ page.tutorialName }}
                        </a>
                    {% endif %}
                {% endfor %}
            </li>
        {% endif %}
    {% endif %}
</ul>


<ul>
    {% for page in staticdata.docs %}
        <li class="
                {% if not props.showall %}
                    {% if page.sections %}
                        {% if page.filename|isactive %}gactive{% else %}ginactive{% endif %}
                        {% if page.filename|isactive %}section-active{% endif %}
                    {% endif %}
                {% endif %}
                {% if page.sections %}
                    {% if not page.sections|get:0|get:"keywords" %}
                        section-keywordless-parent
                    {% endif %}
                {% endif %}
            "><a href="{{ page.filename }}">{{ page.label }}</a>
            {% if page.filename|isactive|default:props.showall %}
                <ul>
                {% for section in page.sections %}
                    <li class="
                      {% if not props.showall %}
                          {% if section.filename|isactive %}section-active{% endif %}
                      {% endif %}"
                    >
                      <a href="{{ page.filename }}{% if section.filename %}{{ section.filename }}{% endif %}{% if section.fragment %}#{{ section.fragment }}{% endif %}">{{ section.label }}</a>
                    {% if props.showall %}
                        {% if section.keywords %}
                        {% if section.keywords.length gt 0 %}
                            <span class="hint">(<em>Topics: {{ section.keywords|join:', ' }}</em>)</span>
                        {% endif %}
                        {% endif %}
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>

