li, ul, ol {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-top: 5px;
    line-height: 1.7;
    font-size: 1rem;
}


:host > ul,
:host > ul > li {
    margin-left: 20px;
    margin-bottom: 5px;
}


.toolbar-container {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s;
    font-weight: bold;
}

:host:hover .toolbar-container {
    opacity: 0.8;
}

.section-keywordless-parent ul {
    display: flex;
    flex-wrap: wrap;
}
.section-keywordless-parent li {
    margin: 2px;
}

.section-keywordless-parent ul {
    margin: 0;
}

.section-keywordless-parent li {
    display: inline-block;
}

li.ginactive > a::before {
    content: '+ ';
}


li.gactive > a {
    left: 19px;
}

li.section-active > a {
    display: block;
    position: relative;
    border: none !important;
}

li.section-active > a::before {
    content: '\25A0';
    position: absolute;
    display: inline-block;
    left: -20px;
    top: -1px;
    color: var(--color);

}

/*
li.section-active > a::before {
    content: '◯';
    position: absolute;
    display: inline-block;
    left: -23px;
    top: -1px;
    color: var(--color-fg-semidark);
}
*/

/* Second level highlight */
li.section-active li.section-active > a::before {
    color: var(--color);
}

span.hint {
    margin-left: 10px;
    color: var(--color-fg-semi);
}


a {
    color: var(--color-fg);
    text-decoration: none;
    border-bottom: 2px dotted var(--color);
}

a:visited {
    color: var(--color-fg-semidark);
}

a:hover,
a:active {
    border-bottom: 2px solid var(--color);
}

.button-sidebar a {
    border: 1px solid black;
    padding: 2px;
    margin: 0;
    font-size: 0.85rem;
    text-transform: uppercase;
    display: inline-block;
    margin-left: -6px;
}

.button-sidebar a:hover,
.button-sidebar a:active,
.button-sidebar a.button--active {
    background: var(--color);
    color: var(--color-content-bg);
}


h1 {
    font-size: 1.5rem;
    color: var(--color-fg-semidark);
    font-weight: bold;
    text-align: center;
    margin-right: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
    line-height: 1.0;
    background:
        linear-gradient(to right, #00000000 0%, #00000000 25%, white 25.00001%, white 75%, #00000000 75.00001%, #00000000 100%),
        linear-gradient(to bottom, white 0%, white 49%, black 49.00001%, black 53%, white 53.00001%, white 100%)
    ;
}

h2 {
    font-size: 1rem;
}

@media (min-width: 700px) {
  .section-keywordless-parent li {
    padding: 2px;
    margin-left: 1rem;
  }
}

@media (max-width: 992px) {
  :host > ul,
  :host > ul > li {
      margin-left: 10%;
  }
}


