:host {
    font-family: monospace;
    text-align: start;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    box-sizing: border-box;
    display: block;
}

/*

Based on Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/

.hljs {
  color: var(--color-fg);
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: var(--color-fg);
  font-weight: bold;
}

.hljs-keyword {
  color: #e45649;
}

.hljs-section,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-tag {
    color: var(--color-fg-semi);
    font-weight: bold;
}

.hljs-name {
    color: var(--color-fg-semi);
    font-weight: lighter;
    /*text-decoration: underline;*/
}

.hljs-modulo-deftype,
.hljs-modulo-deftype-attr {
    color: var(--color);
    font-weight: normal;
}
.hljs-modulo-deftype {
}

.hljs-modulo-component-tag {
    color: var(--color-fg);
    font-weight: bold;
}

.hljs-modulo-attr-value-lit {
  /*color: var(--color-fg-semidark);
  text-decoration: underline;*/
  font-weight: normal;
  color: #0184bb;
}

.hljs-literal {
  color: #0184bb;
}


.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #50a14f;
}

.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-attr {
  color: var(--color-fg-semidark);
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id {
  color: var(--color-fg-semidark);
  font-weight: bold;
}


.hljs-modulo-attr-value {
  /*background: var(--color-alt);*/
  color: var(--color-fg) !important;
  font-weight: bold;
  /*border-radius: 100%;*/
  border-radius: 2px;
}

.hljs-title {
  /* affects both function defs and function invocations, meh */
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
