<!DOCTYPE HTML><script Modulo src="/static/js/Modulo.js" -src="/static/components/cms/"></script><cms-MarkdownPage><script type=md>---
tutorial: Part 3
---


In Part 3 of this tutorial, we'll start exploring code that permits individual
components to store, modify, and link together data, allowing for complex
behaviors. 

This is a challenging section! If you are new to JavaScript, try to understand
as much as you can of this part of the tutorial, but don't feel bad if some
parts seem extra hard.

We'll learn how to use Template Tags, to optionally include, or duplicate parts
of our HTML templates for data or properties.  We'll learn how to use
StaticData, that lets us import JSON files or CSV file types, or APIs that use
these types, into our Modulo components, so that we can use template tags to
explore 3rd party data.

Before we get to these more powerful features of Modulo, we'll need to first
explore Data Props, and how they enable different JavaScript data types.

# Data Props

> **Other Directives** - All directives are "provided" by a CPart. That is,
> including CParts in your component definition may "enable" more directives in
> your HTML. Data-prop (`[component.dataProp]` or `:=`), for example, is a
> built-in feature of the _Component_, which means it's always available.
> Directives are not the main focus of this tutorial.  To learn more, including
> how to author your own directives using JavaScript, [see
> _Directives_](/docs/directives.html). However, for the purpose of this
> tutorial we will have no need to use directives outside of the built-in
> directives that come with Modulo.

Before we go any deeper into Template Tags or _StaticData_, we need to explore
"data props", and before that, we need to review _directives_. The term
_directives_ in Modulo refers to special attributes that you add to HTML to add
extra functionality.. You can recognize a _directive_ by spotting certain
special characters in the attribute name. We've seen one in the previous
tutorial section, `[state.bind]`. For example, `<input [state.bind] />` is an
`input` HTML tag with a `[state.bind]` directive. Some directives will have a
square-bracket syntax (e.g. `[ ]`), while others might use other special
characters to set them apart from "normal" attributes (e.g.  `:=` syntax we'll
learn next). While re-rendering, Modulo scans the resulting DOM to set-up or
"mount" any directives it encounters.

Directives are useful for a variety of tasks, ranging connecting CParts to each
other, to more complicated modifications to DOM elements.

## The dataProp directive `:=`

We'll learn one more directive next: _data prop_  or `:=` syntax

Typically, when we add attributes to anything, whether it is a CPart or even
just in regular HTML, the attribute value can only be a string. This means when
we did `<State count="1" ... >` previously, we made a mistake: The `count`
variable didn't get assigned to `1` the _Number_, but rather `"1"` the
_String_. To fix it, we do the following:

    <State
        count:=1
        color="blue"
    >&lt;/State&gt;

> **Data type?** If you are new to coding, you might be confused by this term.
> It's a little like a file format for variables: Instead of JPG, DOCX, and
> ZIP, we have Numbers, Strings, Arrays, Objects, Booleans, etc. This
> collection of types is what makes up the "JSON" format, which Modulo uses.

This is called a _data prop_ directive. You can identify a _data prop_
directive (`:=`), by spotting an attribute name that is suffixed with a colon
right before the equal sign, like this: `attributeName:=value`.


## The many types of data you'll see

Modulo uses the same data types as JavaScript and the JSON file format, which
Modulo uses extensively. The remainder of this section will highlight the most
useful types for new Modulo developers:

> **Why don't we use "strings" for numbers?** Using strings of digits (i.e. in
> quotes) instead of the numbers themselves means that things like arithmetic
> won't work as intended. Example: If state variable `count="1"`, then
> `state.count + 10` will result in `"110"` instead of the desired `11`, since
> it's a string of digits, so `"1" + "10" = "110"`

### Strings & Numbers

String is the default.  If you use `=` like a regular HTML attribute, it will
be a "plain old" String.  The word "String" refers to a "string of characters",
and is used for text, whether it's a single letter, a word, a paragraph, or an
entire book.

If you use the `:=` syntax followed by a number, like `:=10` or `:=32.4`, you
create a value of the Number type.  This is useful for numeric data that you
want to do calculations on.  That is to say, Numbers can actually "do math", as
opposed to strings that you'd only combine end-to-end, but not "do math". For
example, `5 + 5 = 10` for Numbers, while `"5" + "5" = "55"` for Strings.

Examples of both are below:

```
<State
    message="Hello world!"
    longer="
        Strings can be more
        than one line.
    "
    count:=1
    debt:=-2
    x:=912.3
    y:=123.234
></State>
```

##### Try It Now

1. Examine the code below, and it's output.

```modulo_demo
<Template>
    Adding strings: {{ state.a|add:state.b }}<br />
    Adding numbers: {{ state.d|add:state.e }}<br />
</Template>
<State
    a="10"
    b="20"
    d:=10
    e:=20
></State>
```

2. do you
see how the code above shows the important difference between Numbers and
Strings?

------



#### Container types


Continuing on our tour of data types, let's examine "container types" (ones
that contain other data). In our case, container types are also "iterable
types" (ones you can "loop on", e.g. with a for loop, as we'll learn later).


### Arrays

> **Iterables** - There are some types of data that are called "iterable". That
> means you can "iterate" over them, or repeat code for them. A good rule of
> thumb is if the data in question is "plural". Plural data is iterable. For
> example, if you want to show a single profile picture, that's not plural. If
> you want to show every profile picture (whether that is 0 or 100), that
> matches a search result, that is "plural", and that is when we want to use an
> iterable.

*Warning: This stuff gets trickier!* Arrays are more complex data types, so it
might take more practice to get the hang of them!

Arrays are the most important type of "container type" or "iterable type" in
JavaScript. This means, a type that can contain other types.  This means you
can say it's an "Array of Numbers" (to refer to a certain collection of
numbers, e.g. data you want to chart or graph), or an "Array of Strings" (to
refer to a collection of items of text, e.g. the usernames of people who are
present in a chat room).

Next in the tutorial we'll cover how to use Arrays to duplicate template code
across data, but for now let's start with the syntax. In this case, we'll make
an *Array of Numbers* and an *Array of Strings*, called `dataset` and `cities`
respectively:

```
<State
    dataset:='[ 103, 32, 15, 100 ]'
    cities:='[ "Berkeley", "Porto Alegre" ]'
    students:='[ "Alice", "Bob", "Candace" ]'
></State>
```



### Objects

Objects are like arrays in that they contain other data, but instead of having
an ordered sequence of items, they have them behind "keys", which are strings
designations or labels for values, which can be any other type. Objects are
sometimes called "dictionaries" in other programming languages, because they
are a lot like a dictionary, consisitng of a words of phrases (keys), followed
by their "definitions" (values).

The format for objects is like: `{ "key": "value", "key2": "another value" }`

See below for a more complete example:

```
<State
    info:='{
        "title": "Roller coaster",
        "ticketPrice": 123.5
    }'
></State>
```




#### Arrays of Objects

When we access real-world data, whether those are blog articles in a publishing
site, or a data items in a dashboard, they often "arrive formatted" as what's
called a JSON array of objects.

This is a much more complicated data format that builds on the previous two
data formats. We'll encounter it again in a moment, when we start using
StaticData. Look over the following format containing some imaginary "traffic
rating" about two train stations. Don't worry about understanding every aspect
about the format, but focus instead on the big picture of what this data might
be trying to express:

```
<State
    stations:='[
        {
            "name": "Embarcadero Station - San Francisco",
            "trafficRating": 1353
        },
        {
            "name": "19th Street Station - Oakland",
            "trafficRating": 732
        }
    ]'
></State>
```



### Final notes on Data Props

-  Keep in mind that _data props_ directives are not the same as the _Props_
   CPart. They are, however, related, in that the _Props_ CPart looks for both
   regular attributes and data props: You can in fact set any _Props_
   attributes with the `:=` syntax, for data other than Strings.
-  There are a few more types as well: `null`, `true`, `false`, which are
   simple types used to "flag" items, or set a property "on and off", or for
   placeholder values
-  _Data props_ support any JSON literal type. Technically, _data props_ values
   can have double quotes just like normal String-based attributes.  However,
   as a stylistic convention, you may omit the double quotes for any one-word
   value, and should use only single quotes for complex types, such as
   JSON-formatted Arrays or Objects. See below for stylistic examples of data
   props with different types:


##### Summary: JSON type list

To summarize this, look at this list of JSON types, and see if you can
understand the examples given of each type of data:

- **String** - `"Hello!"`, `"how are you"`, `"f$J^&m$j"`, or the empty `""`
- **Number** - `42` or `32.5`
- **Array** - `[ ]` or `[ 1, "a", true ]` *(can contain other data)*
- **Object** - `{ }` or `{ "a": 123, "b": "XYZ" }` *(can contain other data)*
- **Boolean** - `true` and `false` *(no other possible values)*
- *Other:* `null`


##### Try It Now

1. Let's see how we can use filters to "poke" at an Array. Examine the next bit
of code. Do you see how you can access individual items in an Array using the
`|get` filter? Do you see how `|json` is used to show State in JSON syntax, and five



```modulo_demo
<Template>
    <p>Item at index 3:
        <tt>{{ state.items|get:3 }}</tt>
    </p>
    <p>Items separated by a dash:
        {{ state.items|join:"-" }}
    </p>
    <hr />
    <input [state.bind] name="str1" />
    <input [state.bind] name="str2" />
    <input [state.bind] name="num"
                        type="number" />
    <p>
        State in JSON format:
        <pre>{{ state|json:2 }}</pre>
    </p>
</Template>
<State
    str1="hello"
    str2="123"
    items:='[
        "toothbrush",
        "umbrella",
        "my bag",
        "laptop",
        "charger"
    ]'
    num:=10
></State>
```

2. *Extra:* Try using the following snippet in the different demos in this
tutorial for "peaking" at state in JSON format:  `<pre>{{ state|json:2 }}</pre>`


##### Comprehension Questions

* **What do you think the `|json` filter is for?**
    - Answer 1: It displays the given data into JSON format. It's useful to
      quickly checking the exact content of a state variable, or data from any
      other source.
    - Answer 2: The output of this filter can be pasted into attributes with
      the syntax of `data:='{ ... }'`, or into the content of a `StaticData`
      (covered later).  This is useful for "saving" useful state configurations
      during testing.
* **Why do you think `|get:3` produces "laptop"?**
    - Answer: Modulo  starts counting the "index" of Arrays at "index number
      0". This is the same behavior as JavaScript.
* **What is the purpose of JSON format?**
    - JSON is a standard file format that Modulo can read in. Any (strictly)
      JSON formatted data structure can be inserted in a Modulo dataProp, e.g.
      `dataprop:='{"Hello": "World"}'`

-----------



# Template Tags

> **Built-in Template Tags and Custom Template Tags** - Modulo comes with many
> template-tags pre-installed: Read [Templating Reference - Built-In
> Tags](/docs/templating/tags.html#builtintags) for examples of all
> template-tags available.  This includes the "if" template-tag, which allows
> for conditional rendering (e.g.  "only show the submit button if a form is
> filled correctly"), and the "for" template-tag, which allows for HTML to be
> repeated for each item of some given data (e.g. "every blog post get's it's
> own `<li>` element").  Utilizing JavaScript, you can also define custom tags,
> although it is more challenging than with filters.


## Intro to Template Tags

In addition to filters, the Modulo templating language also support powerful
"template tags", which allow for more complicated custom behavior.  Unlike
template variables or filters, they use `{%` and `%}` (instead of `{{` and
`}}`) to designate where they are in the _Template_ code.

### Syntax

Template tags are in the format of `{% tag %}`. 
They allow for more complicated transformations to the HTML code generated.
For example, here are a few:

    {% include other_template %}

    {% comment %}
        ...
    {% endcomment %}

    {% if state.expanded %}
        ...
    {% endif %}


## The if-tag

One of the most useful template tags you will use is the if tag, written like
this: `{% if %}`.  The if-tag allows for conditional rendering of HTML code
based on the condition supplied.

See below for two examples of using the "if" tag:

    <h1>{{ props.title }}</h1>
    {% if state.expanded %}
        <div><p>Details: {{ props.details }}</p></div>
    {% endif %}
    <hr />
    {% if props.link %}
        <a href="{{ props.link }}">Read more...</a>
    {% else %}
        <em>(No link provided)</em>
    {% endif %}


Note that there are two other tags in the mix. These a related to the `if` tag,
and will only show up after the `if` tag. The first is the `{% endif %}` tag.
This is required, since it shows Modulo what you want the `if` tag to
conditionally include. The second is the `{% else %}` tag. This is optional:
You don't need it for all uses of the `if` tag.

##### Try It Now

1. Examine the code below. Do you see how the `show` checkbox toggles the State
value, which in turn toggles the visibility of the second `div`?

```modulo_demo
<Template>
    <div>
        <label>
            <input [state.bind] name="show" type="checkbox" />
            Show details
        </label>
    </div>
    {% if state.show %}
        <div>Look, more stuff here!</div>
    {% endif %}
</Template>
<State
    show:=false
></State>
<Style>
    div {
        border: 1px black solid;
        padding: 3px;
        margin: 3px;
    }
</Style>
```


2. Examine the code below. Do you understand how the `if` template-tag checks
the value of `state.word`  to see if it is filled in, and only shows it back to
the user when the user has started typing?

```modulo_demo
<Template>
    <div>
        <label>Enter a word to see it reversed:
            <input [state.bind] name="word"  /></label>
        {% if state.word %}
            <div><p>Reversed: <tt>{{ state.word|reversed }}</tt></div>
        {% else %}
            <p><em>Nothing entered!</em></p>
        {% endif %}
    </div>
</Template>
<State
    word=""
></State>
```

3. **Local file challenge:** Try writing your own if-statements based on other
state variables of your creations.


##### Comprehension Question

Try modifying the "word" and/or show state variable's initial value to see how
that changes the if statement. What activates the if statement? What values are
"true" (active) and what values are "false" (inactive)?

- Answer: The Empty String is `false` (e.g. `word=""`), along with the Number `0`
  (`word:=0`) and two more values: `false` (Boolean) and `null`.
- Answer: Everything else will activate the if statement


-----


## The for-tag

The "for-tag" is for when we want to duplicate a bit of template over and over
for a repetitive bit fo data. For example, if we want to template "for every
article", or "for every pin in a world map", or "for every post in an article
comment section". Each of these "for" statements refers to some plural thing
that we want to have a similar style duplicated across, using the same HTML
template for each item in that collection.

For example, imagine showing a paragraph for every student in a class's roster
(assuming data like in the `students:=`  _State_ data example above):

    {% for name in state.students %}
        <p>Name on roster: {{ name }}</p>
    {% endfor %}


A for loop can also loop through other types of data, such as the very popular
Array of Objects, formatting it in a reasonable way
(assuming data like in the `stations:=`  _State_ data example above):


    {% for station in state.stations %}
        <p>{{ station.name }} | TRAFFIC SCORE: {{ station.trafficRating }}</p>
    {% endfor %}


In this example, the `{{ station.name }}` and `{{ station.trafficRating }}`
refer to templating the individual values within the station object in the
array of stations.

Like the "if", for has an "endfor", which it uses to designate the portion of
the temlpate it will repeat. Unlike "if", it can use the template it 0 times, 1
time, or 2+ times (`if-tags` can use the template only 0 times or 1 time, but
can never "duplicate" the template and use it 2+ times).


### Template tag gotchas

**Important syntax note:** Always put templating tags *inside* of attribute
values. For example:

```html

<div class="{% if state.show" %}visible{% endif %}">
    ...hidden things...
</div>
```

Do you see how the `class="` goes outside the `if`? That is correct. It is
incorrect to put it inside, e.g. syntax like `{% if state.show %}class=...` is
*incorrect*.



##### Try It Now

1. Examine the code below. Do you see how the `for` template-tag "duplicates"
the inner template for every item in the array of items?


```modulo_demo
<Template>
    <ol>
    {% for item in state.items %}
        <li>{{ item }}</li>
    {% endfor %}
    </ol>
</Template>
<State
    items:='[ "toothbrush", "umbrella", "my bag", "laptop", "charger" ]'
></State>
```


2. Try adding `|reversed` filter to the `items`, so it becomes `{% for item in
items|reversed %}`. What do you think this will do?



##### Try It Now

1. Examine the code below. Do you see how the `for` template-tag "duplicates"
the inner template for each station, in the Array of Objects?


```modulo_demo
<Template>
    {% for station in state.stations %}
        <div>{{ station.name }}</div>
        <div>{{ station.trafficRating }}</div>
    {% endfor %}
</Template>
<State
    stations:='[
        {
            "name": "Embarcadero",
            "trafficRating": 1353
        },
        {
            "name": "19th St",
            "trafficRating": 732
        }
    ]'
></State>
<Style>
    :host {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
</Style>
```


2. Examine this modification. This shows a more data, and a combination of an
`if` and a `for`.  It allows it to add a "highlight" on ones that meet a
certain criteria. The `gt 800` means "greater than 800".

```modulo_demo
<Template>
    <h3>Name</h3> <h3>City</h3> <h3>Use</h3>
    {% for station in state.stations %}
        <div>{{ station.name }}</div>
        <div>[{{ station.city }}]</div>
        <div class="{% if station.trafficRating gt 800 %}warning-alt{% endif %}">{{ station.trafficRating }}</div>
    {% endfor %}
</Template>
<State
    stations:='[
        {
            "name": "Embarcadero",
            "city": "SF",
            "trafficRating": 1253
        },
        {
            "name": "West Oakland",
            "city": "OAK",
            "trafficRating": 695
        },
        {
            "name": "12th St",
            "city": "OAK",
            "trafficRating": 853
        },
        {
            "name": "19th St",
            "city": "OAK",
            "trafficRating": 732
        }
    ]'
></State>
<Style>
    :host {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .warning-alt {
        border: #ffeeee 2px solid;
        background: #ffaaaa;
    }
</Style>
```

3. **Local file challenge:** This one is tricky, but think about if there's a
way you can reduce your code size and reuse by "refactoring" repetitive code in
your local project into a State data and a for-loop.

-----------


# StaticData

_StaticData_ is a CPart used to import data from a JSON file format or CSV file
format source, such as a file or API. Unlike _State_, it is for "static" or
unchanging data. When building or deploying, it will be bundled together for
speedy look-ups.

What are JSON files? Here's an example:

<https://www.gov.uk/bank-holidays.json>


```js
{"england-and-wales":{"division":"england-and-wales","events":[{"title":"New Year’s Day","date":"2018-01-01",....
```
Okay, that's hard to read! But if you look closely through it, you recognize
that it contains information about holidays in the UK, as provided by the
government of the UK. That could be useful in a calendar app, or many other
situations. In Modulo, it would be read like this:

    <StaticData
        -src="https://www.gov.uk/bank-holidays.json"
    ></StaticData>


Combining that with the `|json:2` filter, we can display a formatted version of
it this way:

```modulo_demo
<Template>
    <pre>{{ staticdata|json:2 }}</pre>
</Template>
<StaticData
    -src="https://www.gov.uk/bank-holidays.json"
></StaticData>
<Style>
    pre {
        height: 250px;
        overflow: auto;
    }
</Style>
```

Okay, that's still hard to see, but it looks like "england-and-wales" is a
_key_, as well as _events_ is a key. This means we can use `|get` to access
just the events, which is what we care about:


```modulo_demo
<Template>
    <pre>{{ staticdata|get:"england-and-wales.events"|json:2 }}</pre>
</Template>
<StaticData
    -src="https://www.gov.uk/bank-holidays.json"
></StaticData>
<Style>
    pre {
        height: 250px;
        overflow: auto;
    }
</Style>
```

With this information, we can combine it with the `for` template tag, to
display all the holidays in a table in the next TRY IT NOW.

##### Try It Now

```modulo_demo
<Template>
    <h3>Title</h3><h3>Date</h3>
    {% for event in staticdata|get:"england-and-wales.events" %}
        <div>{{ event.title }}</div>
        <div>{{ event.date }}</div>
    {% endfor %}
</Template>
<StaticData
    -src="https://www.gov.uk/bank-holidays.json"
></StaticData>
<Style>
    :host {
        height: 200px;
        overflow: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    div {
        font-size: 0.8rem;
    }
</Style>
```



1. Examine the code above.

2. Do you understand how the `get` filter accesses the data we need, and then
the `for` template-tag loops through that data showing it in a grid format
(thanks to CSS `display: grid`)?

3. **Local file challenge:** Try accessing other data sets you find.  Can you
display a table or details of some data set or JSON-based API you find online?
For example, if you are fan of the Pokemon franchise, you might enjoy using the
[PokeAPI](https://pokeapi.co/). Or, [try using GitHub's
API](https://docs.github.com/en/rest/guides/getting-started-with-the-rest-api).
Many more are available here: <https://github.com/public-apis/public-apis>




##### Key terms

* **Directive** \- A special type of HTML attribute that "hooks in"
  functionality to otherwise plain HTML elements. Three built-in directives
  include:
    * `:=` \- "data-prop" assignment, allowing for assigning to JavaScript
      values such as functions and/or primitive JavaScript data types in JSON
      syntax
    * `@click` \- attach event listener to element
* **Template tag** \- A more advanced type of Template code that lets us repeat
  or optionally include other templat code based on data contained in state,
  props, or from a static data CPart


-----


#### Next step

You're almost done with the tutorial! The last section goes deeper into
customizing rendering, attaching events, and finally dips into use of the
_Script_ CPart, which enables you to add JavaScript code into your components.

[Part 4: Shadow & Slots, Events, and Scripts »](part4.html)
