<!--
  All component definitions for the Modulo website and documentation are contained here.

  Note: For the Markdown page, look in "cms/index.html"
-->

<Component name="Page" mode="vanish-into-document">
    <Props
        pagetitle
        shownews
        showtop
        navdocs
        navselected
        navbreadcrumb
    ></Props>
    <StaticData
        -src="../data/links/navigation.js"
    ></StaticData>
    <StaticData
        -name="devlog"
        -src="../data/links/devlog.js"
    ></StaticData>
    <Template
        -src="./Page/Page.html"
    ></Template>
    <Style
        -auto-isolate="vanish"
        -src="./Page/Page.css"
    ></Style>
    <Script
        -src="./Page/Page.js"
    ></Script>
</Component>

<!-- Disabled due to loading ordering bug: quick-component="html,css,js" -->
<Component name="HomeSplash">
    <Props
        image
    ></Props>
    <Template
        -src="./HomeSplash/HomeSplash.html"
    ></Template>
    <Style
        -src="./HomeSplash/HomeSplash.css"
    ></Style>
    <Script
        -src="./HomeSplash/HomeSplash.js"
    ></Script>
</Component>

<Component name="TabPane">
    <Props
        hadjust
    ></Props>
    <Template
        -src="./TabPane/TabPane.html"
    ></Template>
    <Style
        -src="./TabPane/TabPane.css"
    ></Style>
    <State
        value:=null
    ></State>
    <Script
        -src="./TabPane/TabPane.js"
    ></Script>
</Component>

<Component name="TableOfContents">
    <Props
        showall
        value
    ></Props>
    <StaticData
        -src="../data/links/documentation.js"
    ></StaticData>
    <Template
        -src="./TableOfContents/TableOfContents.html"
    ></Template>
    <Style
        -src="./TableOfContents/TableOfContents.css"
    ></Style>
</Component>

<Component name="ProjectVersion" mode="vanish">
  <Template>alpha&nbsp;v0.0.54</Template>
  <!--
    <Template>alpha&nbsp;v{{ staticdata.version }}</Template>
    <StaticData -src="https://raw.githubusercontent.com/modulojs/modulo/main/package.json"></StaticData>
  -->
</Component>

<Component name="DemoEditor">
    <Props
        value
    ></Props>
    <Template
        -src="./DemoEditor/DemoEditor.html"
    ></Template>
    <State
        divider:=200
        demo=""
    ></State>
    <Script
        -src="./DemoEditor/DemoEditor.js"
    ></Script>
    <Style
        -src="./DemoEditor/DemoEditor.css"
    ></Style>
</Component>

<Component name="SyntaxEditor" rerender="manual">
    <Props
        value
        name
        fast
        spellcheck
        component
        debounce-time
    ></Props>
    <Template
        -src="./SyntaxEditor/SyntaxEditor.html"
    ></Template>
    <State
        selection-start:=0
        scroll-top:=0
        width:=0
        height:=0
        value=""
    ></State>
    <Script
        -src="./SyntaxEditor/SyntaxEditor.js"
    ></Script>
    <Style
        -src="./SyntaxEditor/SyntaxEditor.css"
    ></Style>
</Component>

<Component name="TwoPanes" mode="vanish">
    <Props
        class
    ></Props>
    <Template>
        <section>
            <slot name="left" class="pane {{ props.class }}"></slot>
            <slot name="right" class="pane {{ props.class }}"></slot>
        </section>
    </Template>
    <Style
        -auto-isolate="vanish"
        -src="./TwoPanes/TwoPanes.css"
    ></Style>
</Component>

<Component name="SyntaxHighlighter">
    <Props
        value
        mode
    ></Props>
    <Script -src="./SyntaxHighlighter/highlight/highlight.min.js">
          function updateCallback(renderObj) {
              const text = props.value || element.originalHTML;
              const opts = { language: props.mode || 'django' };
              let html = hljs.highlight(text, opts).value;
              // Add in colors for Modulo tag names / attributes
              html = html.replace(/"hljs-name">([A-Z])/g, '"hljs-modulo-deftype">$1');
              html = html.replace(/"hljs-attr">([A-Z])/g, '"hljs-modulo-deftype-attr">$1');
              html = html.replace(/"hljs-name">([a-z]+-[A-Z])/g, '"hljs-modulo-component-tag">$1');
              html = html.replace(/"hljs-string">(true|false|null)/g, '"hljs-modulo-attr-value-lit">$1');
              html = html.replace(/"hljs-string">([A-Za-z])/g, '"hljs-modulo-attr-value">$1');
              html = html.replace(/"hljs-string">([0-9\[\{])/g, '"hljs-modulo-attr-value-lit">$1');
              element.innerHTML = html
         } 
    </Script>
    <Style
        -src="./SyntaxHighlighter/custom-scheme.css"
    ></Style>
</Component>
