<div class="top-splash">
    <img height="80px" src="https://modulojs.org/img/mono_logo_percent_only.png" alt="Percent sign logo" />
    <h1>modulo<span>.js</span></h1>
    <x-ProjectVersion></x-ProjectVersion>
    <!--<h2>HTML Web Component Framework</h2>-->
    <h2>A small, modular framework for HTML Web Components</h2>
    <ul style=" ">
        <li>Beginner-friendly features inspired by React, Svelte, and Vue.js</li>
        <li>Only 2000 lines of dependency-free, self-building JavaScript</li>
        <li>A "no fuss" drop-in for existing web apps or JAMStack static sites</li>
    </ul>

    <x-Demo
        fromlibrary="Hello,Simple,ToDo,JSON,Scatter,Search,Components,Memory"
        demotype="minipreview"
    ></x-Demo>
</div>

