<div class="top-splash">
    <img 
        height="80"
        src="/static/images/percent_sign_logo.svg" alt="Percent sign logo"
        id="top_logo"
    />
    <h1><span>modulo</span><span class="ext">.js</span></h1>
    <div class="flying-letters">
        {% for letter in script.title %}
            <div class="letter letter-{{ letter }}">{{ letter|lower }}</div>
        {% endfor %}
    </div>
    <x-ProjectVersion></x-ProjectVersion>
    <h2 style="color: var(--color-fg-semidark)">HTML Web Component Framework</h2>
    <!--<h2>HTML Web Component Framework</h2>-->
    <!--<h2>A modular micro-framework for HTML Web Components</h2>-->
    <ul>
        <li>Beginner-friendly features inspired by React, Svelte, and Vue.js</li>
        <li>Only 2000 lines of dependency-free, self-building JavaScript</li>
        <li>A &ldquo;no fuss&rdquo; fuss" drop-in for existing web apps or JAMStack static sites</li>
    </ul>
    <x-SyntaxEditor 
      style="height: 300px"
      value='
        <Template>lololol</Template>
      '
    ></x-SyntaxEditor>

    <!--
    <x-Demo
        fromlibrary="Hello,Simple,ToDo,JSON,Scatter,Search,Components,Memory"
        demotype="minipreview"
    ></x-Demo>
    -->
</div>

