

{% if state.ready %}
<section class="article-list-{{ props.show }} {% if props.show is "random" %}article-list-random{% endif %}">
{% for article in state.results %}
    <article>
        {% if article.cover_image %}
            {% if props.show is "learn" %}
            {% if article.cover_image %}
            {% if article.cover_image is not "null" %}
            <div class="image-div">
                <a href="{{ article.url }}"><img src="{{ article.cover_image }}" alt="Screenshot" /></a>
            </div>
            {% endif %}
            {% endif %}
            {% endif %}
        {% endif %}
        <div>
            {% if article.title %}
              <a class="article-title" href="{{ article.url }}" title="{% if article.description %}{{ article.description }}{% endif %}">
                    {% if props.show is "random" %}
                    {% if article.cover_image %}
                        <img src="{{ article.cover_image }}" alt="Screenshot" />
                    {% endif %}
                    {% endif %}
              {{ article.title }}</a>
            {% endif %}
        </div>
    </article>
{% endfor %}
</section>
{% else %}
<em>Loading...</em>
{% endif %}
