<Template>
    <h5>Author</h5>
    <h5>Title</h5>
    <div>
        {% if state.list.length %}
            <button @click:=state.list.splice payload:=0>✖</button>
        {% endif %}
    </div>
    {% for item in state.list|reversed %}
        <div>{{ item.author }}</div>
        <div>{{ item.title }}</div>
        <div></div>
    {% endfor %}
    <input [state.bind] name="item.author" />
    <input [state.bind] name="item.title" />
    <button
        [state.bind] name="title"
        @click:=state.list.push
        payload:='{{ state.item|json }}'
    >+</button>
    <button [state.bind] name="item.author" value="">-</button>
    <button [state.bind] name="item.title" value="">-</button>

    {% if state.list.length %}
        <hr /> <hr /> <hr />
        <button @click:=state.list.pop>↶</button>
        <button @click:=state.list.reverse>↕</button>
    {% endif %}
</Template>

<State
    list:=[]
    item:={}
    item.author="Example"
    item.title="New item"
    item.finished:=false
></State>

<Style>
    :host {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 180px;
        align-items: center;
    }
    input {
        width: 60px;
    }
</Style>
