<!-- Another example of StaticData being used to visualize data, this example
     places API data onto a world map, and provides a slide down modal for
     each user that shows more information about that user -->
<Template>
    {% for user in staticdata %}
        <div style="top: {{ user.address.geo.lng|number|add:180|multiply:100|dividedinto:360 }}%;
                    left: {{ user.address.geo.lat|number|add:90|multiply:100|dividedinto:180 }}%;">
            <x-DemoModal button="{{ user.id }}" title="{{ user.name }}">
                {% for key, value in user %}
                    <dl>
                        <dt>{{ key|capfirst }}</dt>
                        <dd>{% if value|type == "object" %}{{ value|json }}{% else %}{{ value }}{% endif %}</dd>
                    </dl>
                {% endfor %}
            </x-DemoModal>
        </div>
    {% endfor %}
</Template>

<StaticData
    -src="https://jsonplaceholder.typicode.com/users"
></StaticData>

<Style>
  :host {
      position: relative;
      display: block;
      width: 160px;
      height: 80px;
      border: 1px solid gray;
      background-size: 160px 85px;
      background-image: url('https://i.imgur.com/jsOnZz0.png');
  }
  div {
      position: absolute;
      height: 7px;
      width: 7px;
      border-radius: 5px;
      background: #B90183;
  }
  div > x-DemoModal {
      opacity: 0;
      z-index: 50;
  }
  div:hover > x-DemoModal{
      opacity: 1.0;
  }
  .modal-body {
      height: 400px;
      overflow: auto;
  }
  dt {
      font-weight: 800;
  }
  dd {
      max-width: 300px;
      overflow: auto;
      font-family: monospace;
  }
</Style>

