:host {
    display: flex;
    flex-wrap: wrap;
}

article {
    display: block;
    background: #eee;
    border: 1px solid black;
    margin: 0 10px 30px 0;
    width: 240px;
    height: 240px;
    position: relative;
}

h3 {
    position: absolute;
    background: white;
    margin: 0;
    padding: 2px;
    border: 1px solid black;
    color: var(--color-fg-semi);
    top: -10px;
    left: 10px;
    width: 220px;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    transition: background 0.15s, color 0.15s;
    user-select: none;
}

h3:hover {
    background: var(--color);
    color: var(--color-content-bg);
}

@media (min-width: 992px) {
    :host {
        margin-left: -50px;
        margin-right: -50px;
    }
}
