.page-container--navdocs {
    display: grid;
    grid-template-columns: 1fr 280px minmax(auto, 1368px) 1fr;
}

.page-container--navdocs > * {
    grid-column: 3;
}

.page-navdocs {
    grid-column: 2;
    padding: 2px;
    padding-left: 0;
    margin: 10px;
    margin-left: 4px;
    border: 1px solid black;
    position: relative;
}

/*
.page-navdocs > :first-child {
    position: sticky;
    top: 5px;
}
*/
@media (min-width: 1870px) {
    .page-container--navdocs {
        display: grid;
        /* display off-center, 5x margin on right compared to left */
        grid-template-columns: 1fr 300px minmax(auto, 1368px) 5fr;
    }
}

@media (min-width: 2700px) { /* why not */
    .page-container--navdocs {
        /* display off-center, 2x margin on right compared to left */
        grid-template-columns: 1fr 300px minmax(auto, 1368px) 2fr;
    }
}
