/* Default markdown style */
:host {
    padding: 20px;
    margin: 10px;
    position: relative;
}

p,
li {
    line-height: 1.5;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 0;
    margin-top: 5px;
    font-size: 1rem;
}


h1 {
    margin: 0;
    font-size: 2.5rem;
    /*margin-top: 55px;*/
    margin-top: 100px;
    /*margin-bottom: 2px;*/
    margin-bottom: 35px;
}
h2 {
    margin: 0;
    font-size: 2.0rem;
    /*margin-top: 45px;*/
    margin-top: 80px;
    /*margin-bottom: 2px;*/
    margin-bottom: 22px;
}
h3 {
    margin: 0;
    font-size: 1.5rem;
    /*margin-top: 30px;*/
    margin-top: 60px;
    margin-bottom: 10px;
}
h4 {
    margin: 0;
    font-size: 1.3rem;
    /*margin-top: 25px;*/
    margin-top: 40px;
    margin-bottom: 2px;
}
h5 {
    margin: 0;
    font-size: 1.0rem;
    font-variant: uppercase;
    margin-top: 40px;
    margin-bottom: 2px;
}
h6 {
    font-size: 0.9rem;
    font-variant: uppercase;
    margin-top: 10px;
    margin-bottom: 2px;
}


.date-stamp {
    background: var(--color-fg);
    color: var(--color-bg);
    margin: 0;
    padding: 10px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

img {
    max-width: 89%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    border-radius: 5px;
    border: 1px solid black;
}


blockquote {
    max-width: 33%;
    float: right;
    border: 1px solid var(--color-fg-semi);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    line-height: 1.4;
    font-size: 0.98rem;
}

h1 ~ blockquote,
h2 ~ blockquote {
    margin-top: 100px; /* Ensure asides are lined up with headers */
}
h3 ~ blockquote,
h4 ~ blockquote,
h5 ~ blockquote,
h6 ~ blockquote {
    margin-top: 40px; /* Ensure asides are lined up with headers */
}

blockquote > p > strong:first-child {
    color: var(--color-fg-semidark);
    display: inline-block;
    border-left: 5px solid var(--color-fg-semi);
    padding-left: 6px;
    left: -11px;
    margin-right: 5px;
    position: relative;
}
blockquote p {
    line-height: 1.4;
    font-size: 0.98rem;
}

:host > x-SyntaxHighlighter,
:host > x-DemoEditor,
:host li > x-SyntaxHighlighter {
    border: 1px solid var(--color-fg-semi);
    border-radius: 10px;
    margin: 10px;
    display: block;
    padding: 3px;
}

:host > x-SyntaxHighlighter,
:host li > x-SyntaxHighlighter {
    display: inline-block;
    padding: 10px;
}

@media (max-width: 992px) {
    :host blockquote {
        max-width: none;
        float: none;
        clear: both;
    }
}


/* Only 4k */
@media (min-width: 2000px) {
    :host blockquote {
        position: absolute;
        float: none;
        width: 320px;
        right: -320px;
    }
}

