.logo img {
    height: 80px;
}

.container {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px) 1fr;
}

.container > * {
    grid-column: 2;
}

.page-container {
    min-height: calc(100vh - var(--footer-height) - var(--navbar-height));
}

.page-nav {
    grid-column: 2;
    border-bottom: 1px solid var(--color-fg);
    background: var(--color-content-bg);
    height: var(--navbar-height);
    position: sticky;
    top: 0;
    z-index: 1;
}

.page-nav-right a {
    color: var(--color-fg-semi);
}

.page-nav img {
    max-width: 100%;
}

.page-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
    padding-top: 0;
}


.page-nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px 5px 0 0;
}

.page-nav-link {
    color: var(--color-fg);
    font-size: 2rem;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid black;
}

.page-nav-link--selected,
.page-nav-link:hover {
    color: var(--color-fg);
    /*border-top: 1px solid black;*/
}

.page-nav-link--selected {
    border-top: 1px solid black;
}

.page-nav-link--selected,
.page-nav-link:active {
}


.page-footer {
    height: var(--footer-height);
    text-align: left;
    padding-top: 30px;
    font-family: monospace;
    /*letter-spacing: 4px;*/
    font-size: 0.8rem;
    font-weight: lighter;
    margin-top: 20px;
    color: #000000aa;
}

.page-footer a.mini-logo {
    border: 1px solid #000000aa;
    padding: 3px;
    font-weight: bold;
    text-decoration: none;
}

.page-footer a {
    font-size: 0.8rem;
    color: #000000aa;
}

.breadcrumb {
    color: var(--color);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 10px;
    margin-left: 0;
    display: inline-block;
}

a.breadcrumb {
    color: var(--color-fg);
}

.breadcrumb--selected {
    /*color: var(--color-fg-semi);*/
}

.page-nav ul div.logo {
    margin-top: 10px;
    position: relative;
}

.page-nav ul div.logo .logo-overlay {
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
}

.articles a {
    display: block;
    font-family: monospace;
}

.article--selected {
    background: var(--color-fg-semidark);
    color: var(--color-fg);
}

.page-topbar {
    padding-left: 30px;
}
.page-topbar .right-toolbar {
    float: right;
    opacity: 0.2;
    padding: 10px;
    padding-right: 20px;
    transition: opacity 0.2s;
    user-select: none;
}
.page-topbar .right-toolbar:hover {
    opacity: 1;
}

.edit-link {
    background: var(--color-fg-semilight);
    font-size: 0.7rem;
    padding: 0;
    margin: -5px;
    margin-left: -15px;
    font-weight: bold;
}
.edit-link:hover {
    opacity: 1;
}

.toolbar-icon {
    font-size: 1.9rem;
    font-weight: normal;
    line-height: 0.1;
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 992px) {
    :host {
        --navbar-height: 50px;
    }
    .page-container--navdocs {
        display: block !important;
    }
    .page-nav-link {
        font-size: 1.2rem;
    }

    .page-nav ul {
        padding: 0;
    }
    .logo img {
        height: 30px;
    }
    .page-nav-right,
    .page-nav-right > * {
        font-size: 0.7rem;
    }
}

@media (max-width: 576px) {
    .page-nav-right {
        display: none;
    }
}

@media (max-height: 700px) {
    .page-nav--splash {
        display: relative;
    }
}

