<head>
    <title>{{ props.pagetitle }}</title>
    <meta charset="utf8" />
    <meta charset="utf8" />
    <meta name="title" content="{{ props.pagetitle }}">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="revisit-after" content="30 days">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Modulo.js is a HTML Web Component Framework with easy-to-learn interactive documentation, crammed into a tiny self-building file">
    <meta name="keywords" content="html,web,components,learn,jamstack,ui,framework,templating">
    <link rel="stylesheet" href="/static/css/site.css" />
</head>
<body>
    {% if props.showtop %}
        <main class="container">
            <x-HomeSplash image="#logo_overlay"></x-HomeSplash>
        </main>
    {% endif %}

    <nav class="page-nav container {% if props.showtop %}page-nav--splash{% endif %}"
            style="{% if props.navdocs %}position: relative;{% endif %}">
        <ul>
            <div class="logo">
                <a href="/">
                    {% if props.showtop %}
                        <img
                            height="80"
                            src="/static/images/logo_border.svg"
                        />
                        <img
                            class="logo-overlay"
                            id="logo_overlay"
                            height="80"
                            src="/static/images/modulo_logo.svg"
                        />
                    {% else %}
                        <img
                            height="80"
                            src="/static/images/modulo_logo.svg"
                        />
                    {% endif %}
                </a>
            </div>

            {% for page in staticdata.navigation %}
                <li class="{% if page.file == props.navselected %}page-li--selected{% endif %}">
                    <a href="/{{ page.file }}{% if page.urlFrag %}#{{ page.urlFrag }}{% endif %}"
                        title="{{ page.title }}"
                        class="
                            page-nav-link
                            {% if page.file == props.navselected %}page-nav-link--selected{% endif %}
                        ">
                        {{ page.title|upper }}
                    </a>
                </li>
            {% endfor %}
            <div class="page-nav-right">
                <!--v: {{ script.version }}<br />-->
                <x-ProjectVersion></x-ProjectVersion><br />
                <a href="https://github.com/modulojs/modulo/">github</a> | <a href="https://www.npmjs.com/package/mdu.js">npm mdu.js</a>
            </div>
        </ul>
    </nav>

    <div class="page-container container {% if props.shownews %}articles-container{% endif %} 
        {% if props.navdocs %}page-container--navdocs{% endif %}">
        {% if props.navdocs %}
            <nav class="page-navdocs">
                <x-TableOfContents value="{{ props.navdocs }}"></x-TableOfContents>
            </nav>
        {% endif %}
        <main class="page-content">
            {% if props.navbreadcrumb %}
                <div class="page-topbar">
                    {% for page in staticdata.navigation %}
                        {% if page.file == props.navselected %}
                            <a href="/{{ page.file }}" title="{{ page.title }}" class="breadcrumb">
                                {{ page.title }}
                            </a>
                        {% endif %}
                    {% endfor %}
                    <span class="breadcrumb">/</span>
                    <a href="#" class="breadcrumb breadcrumb--selected">
                        {{ props.navbreadcrumb }}
                    </a>
                    {% if script.githubLinks %}
                        <div class="right-toolbar">
                            <span class="breadcrumb">[</span>
                            <a
                                target="_blank"
                                class="edit-link"
                                title="Spot a typo? Click to edit this document on GitHub, where you can submit suggested changes."
                                href="{{ script.githubLinks.edit }}"
                            ><span class="toolbar-icon">✏</span> EDIT</a>
                            <span class="breadcrumb">]</span>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <slot></slot>

        {% if props.shownews %}
        <x-TwoPanes class="subtle" style="grid-column: 2">
            <aside slot="left">
                <div style="max-width: 350px; background: #f8f8f8; padding: 10px;">
                <p style="float: right; max-width: 170px; color: var(--color);
                margin-top: 45px; text-align: left; border: 1px
                solid var(--color); padding: 10px">MODULO ALPHA NEEDS
                <em>YOU!</em></p>
                <h3><span alt="Lower case Greek alpha">α</span></h3>

                <iframe
                src="https://ghbtns.com/github-btn.html?user=modulojs&repo=modulo&type=star&count=true&size=large"
                frameborder="0" scrolling="0" width="160" height="30"
                title="GitHub"></iframe>

                <p style="font-size: 0.9rem; margin:0; padding:0">The Modulo
                project needs you (the user), 1) to be aware that it is
                "alpha", released for early feedback, and thus you might
                encounter <a style="font-size: 0.9rem;"
                href="https://github.com/modulojs/modulo/issues">some annoying
                bugs</a>, 2) use it to make cool stuff anyway, 3) to star it
                and/or follow development on GitHub, which boosts the
                framework's visibility, and 4) finally, and most importantly,
                to share your cool Modulo creations, both with the world, and
                with us, so we know which features to best support.</p>
                </div>
            </aside>
            <nav slot="right">
                <div class="page-content">
                    <h1 style="width: 100%">Dev Log</h1>
                    <ul class="articles">
                        {% for article in devlog.articles %}
                            <li class="{% if article.file is props.navselected %}article--selected{% endif %}">
                                <a href="/{{ article.file }}">
                                    <span style="min-width: 250px; display: inline-block">{{ article.file }}</span>
                                    {{ article.title }}
                                    &raquo;
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </x-TwoPanes>
        {% endif %}
    </main>

    <footer class="page-footer">
        <a href="/index.html">%</a> -
        <a href="/index.html#start">START</a> -
        <a href="/docs/">DOCS</a> -
        <a href="/examples/">EXAMPLES</a> |
        &copy; {{ script.currentYear }} - MICHAEL BETHENCOURT -
        <a rel="license"  style="font-size: 0.6rem"
        href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
        <abbr  style="font-size: 0.6rem" title="Documentation text is under CC BY-SA 4.0. Demonstration code (e.g. the code in the little editors, or the example components on the EXAMPLES page) is free to use under either BSD 3 Clause or Public Domain.">*</abbr>
    </footer>
</body>
