
/* Default markdown style */
.markdown-body {
    border: 1px solid black;
    padding: 30px;
    margin: 10px;
    position: relative;
    text-align: justify;
}

.markdown-body p,
.markdown-body li {
    line-height: 1.5;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 0;
    margin-top: 5px;
}


/* Last paragraphs shouldn't leave space */
.markdown-body h1 {
    font-size: 2.5rem;
    margin-top: 55px;
    margin-bottom: 2px;
}
.markdown-body h2 {
    font-size: 2.0rem;
    margin-top: 45px;
    margin-bottom: 2px;
}
.markdown-body h3 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 2px;
}
.markdown-body h4 {
    font-size: 1.3rem;
    margin-top: 25px;
    margin-bottom: 2px;
}
.markdown-body h5 {
    font-size: 1.0rem;
    font-variant: uppercase;
    margin-top: 20px;
    margin-bottom: 2px;
}
.markdown-body h6 {
    font-size: 0.9rem;
    font-variant: uppercase;
    margin-top: 20px;
    margin-bottom: 2px;
}


.date-stamp {
    background: var(--color-fg);
    color: var(--color-bg);
    margin: 0;
    padding: 10px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.markdown-body img {
    max-width: 89%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    border-radius: 5px;
    border: 1px solid black;
}


.markdown-body blockquote {
    max-width: 33%;
    float: right;
    border: 1px solid var(--color-fg-semi);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    line-height: 1.1;
    font-size: 0.98rem;
}

.markdown-body h1 ~ blockquote,
.markdown-body h2 ~ blockquote {
    margin-top: 100px; /* Ensure asides are lined up with headers */
}
.markdown-body h3 ~ blockquote,
.markdown-body h4 ~ blockquote,
.markdown-body h5 ~ blockquote,
.markdown-body h6 ~ blockquote {
    margin-top: 40px; /* Ensure asides are lined up with headers */
}

.markdown-body blockquote > p > strong:first-child {
    color: var(--color-fg-semidark);
    display: inline-block;
    border-left: 5px solid var(--color-fg-semi);
    padding-left: 11px;
    left: -16px;
    margin-right: 5px;
    position: relative;
}
.markdown-body blockquote p,
.markdown-body blockquote p > * {
    font-size: 0.95rem;
    line-height: 1.1;
}

.markdown-body > x-SyntaxHighlighter,
.markdown-body > x-DemoEditor,
.markdown-body li > x-SyntaxHighlighter {
    border: 1px solid var(--color-fg-semi);
    border-radius: 10px;
    margin: 10px;
    display: block;
    padding: 3px;
}

.markdown-body > x-SyntaxHighlighter,
.markdown-body li > x-SyntaxHighlighter {
    display: inline-block;
    padding: 10px;
}

@media (max-width: 992px) {
    .markdown-body blockquote {
        max-width: none;
        float: none;
        clear: both;
    }
}


/* Only 4k */
@media (min-width: 2000px) {
    .markdown-body blockquote {
        position: absolute;
        float: none;
        width: 320px;
        right: -295px;
    }
}

