<head>
    <title>{{ props.pagetitle }}</title>
    <meta charset="utf8" />
    <meta charset="utf8" />
    <meta name="title" content="{{ props.pagetitle }}">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="revisit-after" content="30 days">

    <link rel="stylesheet" href="/static/css/site.css" />
</head>
<body>
    {% if props.showtop %}
        <main class="container">
            <x-HomeSplash image="#logo_overlay"></x-HomeSplash>
        </main>
    {% endif %}

    <nav class="page-nav container {% if props.showtop %}page-nav--splash{% endif %}"
            style="{% if props.navdocs %}position: relative;{% endif %}">
        <ul>
            <div class="logo">
                <a href="/">
                    {% if props.showtop %}
                        <img
                            height="80"
                            src="/static/images/logo_border.svg"
                        />
                        <img
                            class="logo-overlay"
                            id="logo_overlay"
                            height="80"
                            src="/static/images/modulo_logo.svg"
                        />
                    {% else %}
                        <img
                            height="80"
                            src="/static/images/modulo_logo.svg"
                        />
                    {% endif %}
                </a>
            </div>

            {% for page in staticdata.navigation %}
                <li class="{% if page.file == props.navselected %}page-li--selected{% endif %}">
                    <a href="/{{ page.file }}{% if page.urlFrag %}#{{ page.urlFrag }}{% endif %}"
                        title="{{ page.title }}"
                        class="
                            page-nav-link
                            {% if page.file == props.navselected %}page-nav-link--selected{% endif %}
                        ">
                        {{ page.title|upper }}
                    </a>
                </li>
            {% endfor %}
            <div class="page-nav-right">
                <!--v: {{ script.version }}<br />-->
                <x-ProjectVersion></x-ProjectVersion><br />
                <a href="https://github.com/modulojs/modulo/">github</a> | <a href="https://www.npmjs.com/package/mdu.js">npm mdu.js</a>
            </div>
        </ul>
    </nav>

    <div class="page-container container {% if props.shownews %}articles-container{% endif %} 
        {% if props.navdocs %}page-container--navdocs{% endif %}">
        {% if props.navdocs %}
            <nav class="page-navdocs">
                <x-TableOfContents value="{{ props.navdocs }}"></x-TableOfContents>
            </nav>
        {% endif %}
        <main class="page-content">
            {% if props.navbreadcrumb %}
                    {% for page in staticdata.navigation %}
                        {% if page.file == props.navselected %}
                            <a href="/{{ page.file }}" title="{{ page.title }}" class="breadcrumb">
                                {{ page.title }}
                            </a>
                        {% endif %}
                    {% endfor %}
                    <span class="breadcrumb">/</span>
                    <a href="#" title="{{ page.title }}" class="breadcrumb breadcrumb--selected">
                        {{ props.navbreadcrumb }}
                    </a>
            {% endif %}
            <slot></slot>
        </main>

        {% if props.shownews %}
        <div class="container">
            <nav class="page-content">
                <h1>Dev Log</h1>
                <ul class="articles">
                    {% for article in devlog.articles %}
                        <li class="{% if article.file == props.navselected %}article--selected{% endif %}">
                            <a href="/{{ article.file }}">
                                <span style="min-width: 250px; display: inline-block">{{ article.file }}</span>
                                {{ article.title }}
                                &raquo;
                            </a>
                        </li>
                    {% endfor %}
                </ul>
              </nav>
          </div>
        {% endif %}
    </div>

    <footer class="page-footer">
        &copy; {{ script.currentYear }} | Michael Bethencourt |
        Documentation Distributed Under <a rel="license"
        href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
        License</a>
        <!-- Feel free to delete this: -->
        | <a href="https://modulojs.org/" title="Made with Modulo.js" target="_blank">%</a>
    </footer>
</body>
