<!--
    This static header occurs across every CMS-built page, and includes extra
    JS dependencies, along with a MarkdownPage component
-->

<!-- Set up a markdown function, using showdown -->
<script Configuration -src="https://unpkg.com/showdown@2.1.0/dist/showdown.min.js">
    function getMarkdownData(source) {
        //source = source.replace(new RegExp('\n```demo', 'i'), '\n<x-DemoEditora value="');
        // TODO: Do a replace ahead of time for syntax highlihgter/ demo editor etc
        const converter = new showdown.Converter({ metadata: true });
        let html = converter.makeHtml(source);
        const data = converter.getMetadata();
        /*
        const params = {
            left: "<pre><code\\b[^>]*>",
            right: "</code></pre>",
            flags: "g"
        };
            .replace(new RegExp(params.left, 'gi'), 
        */
        // TODO: Ugh.
        const t = '<x-SyntaxHighlighter fix="html_encoding" ';
        html = html
            .replace(/<pre><code\b[^>]*javascript*[^>]*>/gi, t + 'mode="javascript">')
            .replace(/<pre><code\b[^>]*html*[^>]*>/gi, t + 'mode="html">')
            .replace(/<pre><code\b[^>]*css*[^>]*>/gi, t + 'mode="css">')
            .replace(/<pre><code\b[^>]*bash*[^>]*>/gi, t + 'mode="bash">')
            .replace(/<pre><code\b[^>]*modulo_demo_examplefirst*[^>]*>/gi, t + 'mode="django_demo_examplefirst">')
            .replace(/<pre><code\b[^>]*modulo_demo_example*[^>]*>/gi, t + 'mode="django_demo_example">')
            .replace(/<pre><code\b[^>]*modulo_demo*[^>]*>/gi, t + 'mode="django_demo">')
            .replace(/<pre><code\b[^>]*modulo*[^>]*>/gi, t + 'mode="django">')
            .replace(/<pre><code\b[^>]*django*[^>]*>/gi, t + 'mode="django">')
            .replace(/<pre><code\b[^>]*>/gi, t + 'mode="django">')
            .replace(/<\/code><\/pre>/gi, '</x-SyntaxHighlighter>');
        // Fix double HTML encoding bug
        html = html.replace(/&amp;nbsp;/gi, '&nbsp;');
        html = html.replace(/&amp;apos;/gi, '&apos;');
        data.body = Object.assign(String(html), { safe: true });

        // construct  the table of contents
        const toc = [];
        for (const [ match, level, attrs, title ] of data.body.matchAll(/<h([1-6])\s*([^>]*)>([^<]+)<.h[1-6]>/gi)) {
            let id = null;
            if (attrs && attrs.includes("id")) {
                id = attrs.split('id="').pop().split('"').shift();
            }
            toc.push({ match, level: Number(level || 0), attrs, title, id });
        }

        // attach to data obj
        data.toc = toc;
        return data;
    }
    modulo.register('util', getMarkdownData);
</script>

<Component namespace="cms" name="MarkdownPage" mode="vanish-into-document">
    <Template -src="./MarkdownPage/MarkdownPage.html"></Template>
    <Script -name="page">
        function prepareCallback(renderObj) {
            let { originalHTML } = element;
            // Remove any "script type=md" prefixes
            originalHTML = originalHTML.replace(/^<scri.t(.type=.?md.?)?>/i, '');
            originalHTML = originalHTML.replace(/&gt;/gi, '>').replace(/&lt;/gi, '<');
            const data = modulo.registry.utils.getMarkdownData(originalHTML);
            return data;
        }
    </Script>
</Component>


<!-- Togglable Markdown TOc-->
<Component namespace="cms" name="MarkdownToC">
    <Props
        toc
    ></Props>
    <Template
        -src="./MarkdownToC/MarkdownToC.html"
    ></Template>
    <State
        toc:=[]
        sticky:=false
        show:=false
    ></State>
    <Script>
        function prepareCallback() {
            state.toc = JSON.parse(props.toc || '[]');

            // Add in via slot / child interface
            for (const child of component.originalChildren) {
                if (!child.hasAttribute || !child.hasAttribute('name')) {
                    continue;
                }
                const level = Number(child.tagName.replace(/[^0-9]/g, '') || '0');
                const title = child.textContent;
                const id = child.getAttribute('name');
                state.toc.push({ level, title, id });
            }
        }
    </Script>
    <Style
        -src="./MarkdownToC/MarkdownToC.css"
    ></Style>
</Component>
