<!--
    This static header occurs across every CMS-built page, and includes extra
    JS dependencies, along with a MarkdownPage component
-->

<!-- Set up a markdown function, using showdown -->
<script Configuration -src="https://unpkg.com/showdown/dist/showdown.min.js">
    function getMarkdownData(source) {
        //source = source.replace(new RegExp('\n```demo', 'i'), '\n<x-DemoEditora value="');
        // TODO: Do a replace ahead of time for syntax highlihgter/ demo editor etc
        const converter = new showdown.Converter({ metadata: true });
        let html = converter.makeHtml(source);
        const data = converter.getMetadata();
        /*
        const params = {
            left: "<pre><code\\b[^>]*>",
            right: "</code></pre>",
            flags: "g"
        };
            .replace(new RegExp(params.left, 'gi'), 
        */
        html = html
            .replace(/<pre><code\b[^>]*javascript*[^>]*>/gi, '<x-SyntaxHighlighter mode="javascript">')
            .replace(/<pre><code\b[^>]*html*[^>]*>/gi, '<x-SyntaxHighlighter mode="html">')
            .replace(/<pre><code\b[^>]*css*[^>]*>/gi, '<x-SyntaxHighlighter mode="css">')
            .replace(/<pre><code\b[^>]*bash*[^>]*>/gi, '<x-SyntaxHighlighter mode="bash">')
            .replace(/<pre><code\b[^>]*modulo_editor*[^>]*>/gi, '<x-SyntaxHighlighter mode="modulo_editor">')
            .replace(/<pre><code\b[^>]*modulo*[^>]*>/gi, '<x-SyntaxHighlighter mode="django">')
            .replace(/<pre><code\b[^>]*django*[^>]*>/gi, '<x-SyntaxHighlighter mode="django">')
            .replace(/<pre><code\b[^>]*>/gi, '<x-SyntaxHighlighter mode="django">')
            .replace(/<\/code><\/pre>/gi, '</x-SyntaxHighlighter>');
        data.body = Object.assign(String(html), { safe: true });
        return data;
    }
    modulo.register('util', getMarkdownData);
</script>

<!-- Load the base components as well -->
<Library namespace="x" -src="/static/"></Library>
<Component namespace="cms" name="MarkdownPage" mode="vanish-into-document">
    <Template -src="./MarkdownPage/MarkdownPage.html"></Template>
    <Script -name="page">
        function prepareCallback(renderObj) {
            let { originalHTML } = element;
            // Remove any "script type=md" prefixes
            originalHTML = originalHTML.replace(/^<scri.t(.type=.?md.?)?>/i, '');
            originalHTML = originalHTML.replace(/&gt;/gi, '>').replace(/&lt;/gi, '<');
            return modulo.registry.utils.getMarkdownData(originalHTML);
        }
    </Script>
</Component>
