{% if state.showEditor %}

    <div class="pane-holder" style="
            --right-width: {{ state.divider|multiply:'-1'|add:550 }}px;
            --divider-width: 45px;
            --divider-height: 35px;
            --demo-height: 120px;
        ">
        <div class="pane pane--left">
            {% if state.showMenu %}
                {# See DemoEditor-toolbar.html #}
                {% include template_toolbar %}
            {% elif state.showAltEditor %}
                <!-- Add a little styling around the example editor to distinguish -->
                <div class="usage-border">
                    <div class="usage-banner">
                        {{ state.altEditorSelected|upper }}
                    </div>
                    <x-SyntaxEditor
                        [script.example]
                        style="height: 100%"
                        fontsize="{{ state.fontSize }}"
                        value="{{ state.altEditorCode }}"
                    ></x-SyntaxEditor>
                </div>

            {% elif state.value %}
                <x-SyntaxEditor
                    [script.editor]
                    style="height: 100%"
                    fontsize="{{ state.fontSize }}"
                    value="{{ state.value }}"
                ></x-SyntaxEditor>

            {% else %}
                <em>Loading...</em>

            {% endif %}
        </div>

        <div class="pane pane--divider">
            <div class="toolbar toolbar--small {% if not state.showMenu %}toolbar--autohide{% endif %}">
                <button
                    @click:=script.toggleMenu
                    class="{% if state.showMenu %}toolbar--selected{% endif %}"
                ><span alt="Dots menu icon">&#x22EF;</span> Menu</button>
                <button @click:=script.run><span alt="Refresh arrow in circle">&#x27F3;</span> Run</button>
                <button @click:=script.save><span alt="Download arrow downward">&#10515;</span> Save</button>
            </div>
        </div>

        {# Include the demo section on the right #}
        {# See DemoEditor-demo.html #}
        {% include template_demo %}
    </div>

{% else %}
    <!-- Collapsed view (e.g. used in DemoGrid) -->
    <div class="pane-holder pane-holder--collapsed">
        {% include template_demo %}
    </div>
{% endif %}

