{% if state.showEditor %}

    <div class="pane-holder" style="
            --right-width: {{ state.divider|multiply:'-1'|add:550 }}px;
            --divider-width: 45px;
            --divider-height: 35px;
            --demo-height: 120px;
        ">
        <div class="pane pane--left pane--subpane-holder">
            {# Loop through each buffer, creating a "subpane" for each #}
            {% for index, buffer in state.buffers %}
                <div class="subpane {% if buffer.subpane-class %}usage-border {{ buffer.subpane-class }}{% endif %}"
                    style="display: {% if index|number is state.selected-buffer %}block{% else %}none{% endif %}">
                    <div class="{% if buffer.banner-class %}usage-banner {{ buffer.banner-class }}{% endif %}">
                        {{ buffer.title|default:''|upper }}
                    </div>
                    <strong style="display: {% if buffer.is-fetching %}block{% else %}none{% endif %}">[ Loading ]</strong>
                    {# Embed a SyntaxEditor in each subpane #}
                    <x-SyntaxEditor
                        [state.bind]
                        name="buffers.{{ index }}.value"
                        [script.editor]="{{ index }}"
                        style="height: 100%;"
                        fontsize="{{ state.fontSize }}"
                        value="{{ buffer.value }}"
                    ></x-SyntaxEditor>
                </div>
            {% endfor %}
            {# Add a subpane at the end for the menu #}
            <div class="subpane" style="display: {% if state.show-menu %}block{% else %}none{% endif %}">
                {% if state.showMenu %}
                    {# See DemoEditor-toolbar.html #}
                    {% include template_toolbar %}
                {% endif %}
            </div>
        </div>

        <div class="pane pane--divider">
            <div class="toolbar toolbar--small {% if not state.showMenu %}toolbar--autohide{% endif %}">
                <button
                    @click:=script.toggleMenu
                    class="{% if state.showMenu %}toolbar--selected{% endif %}"
                ><span alt="Dots menu icon">&#x22EF;</span> Menu</button>
                <button @click:=script.run><span alt="Refresh arrow in circle">&#x27F3;</span> Run</button>
                <button @click:=script.save><span alt="Download arrow downward">&#10515;</span> Save</button>
            </div>
        </div>

        {# Include the demo section on the right #}
        {# See DemoEditor-demo.html #}
        {% include template_demo %}
    </div>

{% else %}
    <!-- Collapsed view (e.g. used in DemoGrid) -->
    <div class="pane-holder pane-holder--collapsed">
        {% include template_demo %}
    </div>
{% endif %}

