{% if state.showEditor %}
    {# Split view (editor on left, divider with 3 buttons, demo on right) #}
    <div class="pane-holder" style="
            --right-width: {{ state.divider|multiply:'-1'|add:550 }}px;
            --divider-width: 45px;
            --divider-height: 35px;
            --demo-height: 120px;
        ">
        <div class="pane pane--left pane--subpane-holder">
            {% if state.show-menu %}
                <div class="subpane">
                    {# See DemoEditor-toolbar.html #}
                    {% include template_toolbar %}
                </div>
            {% elif not script.buffer.is-fetching %}
                <div class="subpane {% if script.buffer.subpane-class %}usage-border {{ script.buffer.subpane-class }}{% endif %}">
                    {% if script.buffer.banner-class %}
                        <div class="{% if script.buffer.banner-class %}usage-banner {{ script.buffer.banner-class }}{% endif %}">
                            {{ script.buffer.title|default:''|upper }}
                        </div>
                    {% endif %}
                    {% if script.buffer.is-read-only %}
                        {# Render a "readonly" SyntaxEditor #}
                        <x-SyntaxEditor
                            [script.editor]
                            readonly="readonly"
                            readonly-value="{{ script.buffer.value }}"
                            style="height: 100%;"
                            fontsize="{{ state.fontSize }}"
                        ></x-SyntaxEditor>
                    {% else %}
                        {# Add a SyntaxEditor, directly bound to the state's value #}
                        <x-SyntaxEditor
                            [script.editor]
                            [state.bind]
                            name="buffers.{{ state.selected-buffer }}.value"
                            style="height: 100%;"
                            fontsize="{{ state.fontSize }}"
                        ></x-SyntaxEditor>
                  {% endif %}
                </div>
            {% else %}
                <strong style="display: block; text-align: right; opacity: 0.3">[ Loading ]</strong>
            {% endif %}
        </div>

        <div class="pane pane--divider">
            <div class="toolbar toolbar--small {% if not state.show-menu %}toolbar--autohide{% endif %}">
                <button
                    @click:=script.toggleMenu
                    class="{% if state.show-menu %}toolbar--selected{% endif %}"
                ><span alt="Dots menu icon">&#x22EF;</span> Menu</button>
                <button @click:=script.run><span alt="Refresh arrow in circle">&#x27F3;</span> Run</button>
                <button @click:=script.save><span alt="Download arrow downward">&#10515;</span> Save</button>
            </div>
        </div>

        {# See DemoEditor-demo.html #}
        {% include template_demo %}
    </div>

{% else %}
    {# Collapsed view, no editor at all (e.g. used in DemoGrid) #}
    <div class="pane-holder pane-holder--collapsed">
        {% include template_demo %}
    </div>
{% endif %}

