<div
    class="pane-holder {% if not state.showEditor %}pane-holder--collapsed{% endif %}"
    style="
        --right-width: {{ state.divider }}px;
        --divider-width: 45px
    ">
    {% if state.showEditor %}
        <div class="pane pane--left">
            {% if state.value %}
                <x-SyntaxEditor
                    [script.editor]
                    style="height: 100%"
                    value="{{ state.value }}"
                ></x-SyntaxEditor>
            {% else %}
                <em>Loading...</em>
            {% endif %}
        </div>
        <div class="pane pane--divider">
            <div class="toolbar">
                <button @click:=script.open><span alt="Pencil edit icon">&#10000;</span> Open</button>
                <button @click:=script.run><span alt="Refresh arrow in circle">&#x27F3;</span> Run</button>
                <button @click:=script.save><span alt="Download arrow downward">&#10515;</span> Save</button>
            </div>
        </div>
    {% endif %}
    <div class="pane pane--right">
        <div class="demo-area">
            {% if not state.demo %}
                {# For now, just leave blank #}
            {% else %}
                {{ state.demo|safe }}
            {% endif %}
        </div>
    </div>
</div>


{% comment %}
    <div style="opacity: 0.5; margin-right: -20px">
        <button
            [state.bind]=click
            name="divider"
            value="700"
        >&larr;</button><button
            [state.bind]=click
            name="divider"
            value="400"
        >=</button><button
            [state.bind]=click
            name="divider"
            value="240"
        >&rarr;</button>
        <!--<button>&#x25AC;|&#x25A0;</button>-->
    </div>
{% endcomment %}
