<div class="toolbar toolbar--settings">
    <div class="control-section">
        {% for index, buffer in state.buffers %}
            {% if not buffer.is-hidden %}
                <button
                    @click:=script.setBuffer
                    payload:='{{ index }}'
                    title="Click to edit {{ buffer.title|default:buffer.name }}"
                    >{% if index|number is state.selected-buffer %}
                      <span alt="Circle indicator icon">&bull;</span>
                    {% else %}
                      <span alt="Empty space indicator icon">&nbsp;</span>
                    {% endif %}
                    {{ buffer.name }}</button>
            {% endif %}
        {% endfor %}
        <label title="Currently selected editor: "{{ state.buffers|get:state.selectedBuffer|get:'name' }}"">
            <div class="font-preview">
                <span>
                    <span alt="Pencil icon">&#10000;</span>
                    <small>{{ state.buffers|get:state.selectedBuffer|get:'title'|default:'' }}</small>
                </span>
            </div>
        </label>
    </div>
    <div class="control-section">
        <label>
            <input [state.bind]="input" name="fontSize" type="range" min="8" max="40" step="2"
              title="Font Size"
            />
            <div class="font-preview">
                <span style="margin-top: -{{ state.fontSize|multiply:'0.3' }}px; font-size: {{ state.fontSize }}px !important;">
                    {{ state.fontSize }}PX
                </span>
            </div>
        </label>
    </div>
    <div class="control-section">
        <label class="label--divider" title="Divider location">
            <input [state.bind]="input" name="divider" type="range" min="0" max="450" step="10" />
            <span class="icon" alt="Side-to-side arrow icon">&#x21f9;</span>
        </label>
        {% comment %}
        <label class="label--divider" title="Minimum height">
            <input [state.bind]="input" name="minheight" type="range" min="0" max="450" step="10" />
            <span class="icon" alt="Up-and-down arrow icon">&#x21D3;</span>
        </label>
        <button @click:=script.open>
            Switch to ACE Editor
            <span alt="Pencil edit icon">&#10000;</span>
        </button>
        {% endcomment %}
    </div>
</div>

