<!--
  This is the common "header" across all the pages on this site.
  All components necessary for the main pages of the modulo website are defined
  here.
-->
<script Configuration>
    // Adds a shortcut of quick-component="html,js,css", for example, for an
    // Template, Script, and Style component.
    modulo.register('processor', function quickComponent (modulo, def, value) {
        console.log('quickComponent processor')
        const name = def.name;
        if (!value.push) {
            value = value.split(','); // comma separated string
        }
        const prefix = modulo.config.component.quickPrefix;
        for (const [ ext, tagName ] of modulo.config.component.quickTypes) {
            if (value.includes(ext)) {
                def.Content = (def.Content || '') + `<${ tagName } -src="`;
                def.Content += `./${ name }/${ name }.${ ext }`;
                def.Content += `"></${ tagName }>`;
            }
        }
        console.log(def.Content)
    });
    modulo.config.component.DefLoaders.unshift('QuickComponent');
    modulo.config.component.quickTypes = [
        [ 'html', 'Template' ],
        [ 'js', 'Script' ],
        [ 'json', 'StaticData' ],
        [ 'css', 'Style' ],
    ];
</script>

<script Configuration>
    // Adds a templateFilter to make it easier to check for the current URL

    // Usage: {% if my.variable|isactive %}nav-active{% endif %}
    modulo.registry.templateFilters.isactive = function (str) {
        const loc = window.location.pathname;
        return loc.split('/').includes(str) || loc.includes(str + '.') || loc.startsWith(str);
    };

    // Usage: {% if my.variable|islocation %}nav-active{% endif %}
    modulo.registry.templateFilters.islocation = str => {
        // Parse as URLs / paths and do normalized comparison (TODO: Handle relative?)
        const url = window.location.origin + str.trim(); // Combine with origin for complete path
        return (new URL(window.location.href)).toString() === (new URL(url)).toString();
    };
</script>

<!-- Register a couple global "demo" components. These are not used for the
site itself, but are just registered globally here for convenience: We use them
to demonstrate features about using pre-defined components. -->
<Component name="DemoModal" -src="/static/demos/usedby/DemoModal.html" mode="shadow"></Component>
<Component name="DemoChart" -src="/static/demos/usedby/DemoChart.html" mode="shadow"></Component>
<Component name="ExampleBtn" -src="/static/demos/usedby/ExampleBtn.html" mode="shadow"></Component>

<!-- Load "layout" and "editor" component libraries, registering both under the
"x-" default prefix -->
<Library -src="./components/layout/"></Library>
<Library -src="./components/editor/"></Library>
