:host {
    --footer-height: 100px;
    --navbar-height: 100px;
    --logo-width: 50px;
    --logo-height: 50px;
    --btn-shadow-dist: 4px;
    --btn-shadow-dist-neg: -4px;
    --color-fg: black;
    --color-fg-semi: #00000088;
    --color: #B90183;
    --color-content-bg: white;
    --color-outline: #111;
}

.container {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px) 1fr;
}

.container > * {
    grid-column: 2;
}

.page-container {
    min-height: calc(100vh - var(--footer-height) - var(--navbar-height));
}

.page-content {
    border: 1px solid var(--color-fg-semi);
    box-shadow: 5px 5px var(--color-fg-semi);
    background: var(--color-content-bg);
    border-radius: 0 5px 5px 5px;
    padding: 10px;
    margin: 10px;
}

.page-content h1 {
    border-bottom: 1px dotted var(--color-outline);
}

.page-content code {
    border-bottom: 1px dashed gray;
}

.page-nav {
    grid-column: 2;
    border-bottom: 1px solid var(--color-fg);
    background: var(--color-content-bg);
    height: var(--navbar-height);
}

.page-nav .nav-logo {
    width: var(--logo-width);
    height: var(--logo-height);
    margin: 10px;
    margin-left: auto;
}

.page-nav-right a {
    color: var(--color-fg-semi);
}

.page-nav img {
    max-width: 100%;
}

.page-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
    padding-top: 0;
}

.page-nav ul div.logo {
    margin-top: 10px;
}

.page-nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px 5px 0 0;
}

.page-nav-link {
    color: var(--color-fg);
    font-size: 2rem;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid black;
}

.page-nav-link--selected,
.page-nav-link:hover {
    color: var(--color-fg);
    /*border-top: 1px solid black;*/
}

.page-nav-link--selected {
    border-top: 1px solid black;
}

.page-nav-link--selected,
.page-nav-link:active {
}

.page-footer {
    height: var(--footer-height);
    text-align: center;
    padding-top: 30px
}

.breadcrumb {
    color: var(--color);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 10px;
    margin-left: 0;
    display: inline-block;
}

.breadcrumb--selected {
    color: var(--color-fg-semi);
}
