<head>
    <title>{{ props.pagetitle }}</title>
    <meta charset="utf8" />
    <!--
        Since this Component is "vanish-into-document", it's allowed to include
        loose LINK and SCRIPT tags, which will be interpreted and built,
        allowing you to more easily integrate existing HTML files here. E.g.:
    -->
    <link rel="stylesheet" href="/static/css/site.css" />
</head>
<body>
    {% if props.showtop %}
        <main class="container">
            <x-HomeSplash image="#logo_overlay"></x-HomeSplash>
        </main>
    {% endif %}

    <nav class="page-nav container">
        <ul>
            <div class="logo">
                <a href="/">
                    {% if props.showtop %}
                        <img
                            height="80"
                            src="/static/images/logo_border.svg"
                        />
                        <img
                            class="logo-overlay"
                            id="logo_overlay"
                            height="80"
                            src="/static/images/modulo_logo.svg"
                        />
                    {% else %}
                        <img
                            height="80"
                            src="/static/images/modulo_logo.svg"
                        />
                    {% endif %}
                </a>
            </div>

            {% for page in staticdata.navigation %}
                <li class="{% if page.file == props.navselected %}page-li--selected{% endif %}">
                    <a href="/{{ page.file }}{% if page.urlFrag %}#{{ page.urlFrag }}{% endif %}"
                        title="{{ page.title }}"
                        class="
                            page-nav-link
                            {% if page.file == props.navselected %}page-nav-link--selected{% endif %}
                        ">
                        {{ page.title|upper }}
                    </a>
                </li>
            {% endfor %}
            <div class="page-nav-right">
                v: {{ script.version }}<br />
                <a href="https://github.com/modulojs/modulo/">github</a> | <a href="https://www.npmjs.com/package/mdu.js">npm mdu.js</a>
            </div>
        </ul>
    </nav>

    <div class="page-container container {% if props.shownews %}articles-container{% endif %}">
        <main class="page-content">
            {% if props.navbreadcrumb %}
                    {% for page in staticdata.navigation %}
                        {% if page.file == props.navselected %}
                            <a href="/{{ page.file }}" title="{{ page.title }}" class="breadcrumb">
                                {{ page.title }}
                            </a>
                        {% endif %}
                    {% endfor %}
                    <span class="breadcrumb">/</span>
                    <a href="#" title="{{ page.title }}" class="breadcrumb breadcrumb--selected">
                        {{ props.navbreadcrumb }}
                    </a>
            {% endif %}
            <slot></slot>
        </main>

        {% if props.shownews %}
        <div class="container">
            <nav class="page-content">
                <h1>Development News</h1>
                <ul>
                    {% for article in staticdata.articles %}
                        <li class="{% if article.file == props.navselected %}page-li--selected{% endif %}">
                            <a
                                href="/{{ article.file }}"
                                title="{{ article.title }}"
                                class="page-nav-link {% if page.file == props.navselected %}page-nav-link--selected{% endif %}">
                                <span style="min-width: 250px; display: inline-block">{{ article.title }}</span>
                                <span style="margin-left: 5px; font-weight: normal; font-size: 1.4rem;">
                                    {{ article.byline }}
                                </span>
                                <span style="margin: 11px; float: right; margin-top: -18px; opacity: 0.9">
                                    <span style="font-size: 1.1rem; font-weight: normal;">
                                        {{ article.estimate }}
                                    </span><br />
                                    <span style="font-size: 1.1rem">READ MORE</span>
                                    &raquo;
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
              </nav>
          </div>
        {% endif %}
    </div>

    <footer class="page-footer">
        &copy; {{ script.currentYear }} | Michael Bethencourt |
        Documentation Distributed Under <a rel="license"
        href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
        License</a>
        <!-- Feel free to delete this: -->
        | <a href="https://modulojs.org/" title="Made with Modulo.js" target="_blank">%</a>
    </footer>
</body>
