:host {
    --footer-height: 100px;
    --navbar-height: 100px;
    --btn-shadow-dist: 4px;
    --btn-shadow-dist-neg: -4px;
    --color-fg: black;
    --color-fg-semi: #00000088;
    --color-fg-semidark: #000000DD;
    --color: #B90183;
    --color-alt: #a2e4b8;
    --color-content-bg: white;
    --color-outline: #111;
}

.logo img {
    height: 80px;
}

.container {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px) 1fr;
}

.container > * {
    grid-column: 2;
}

.page-container {
    min-height: calc(100vh - var(--footer-height) - var(--navbar-height));
}

.page-content {
    background: var(--color-content-bg);
}

.page-content h1 {
    font-size: 2.5rem;
    color: var(--color-fg-semidark);
    text-align: center;
    margin-top: 6rem;
    padding: 5px;
    background:
        linear-gradient(to right, #00000000 0%, #00000000 25%, white 25.00001%, white 75%, #00000000 75.00001%, #00000000 100%),
        linear-gradient(to bottom, white 0%, white 49%, black 49.00001%, black 53%, white 53.00001%, white 100%)
    ;
}

.page-content code {
    border-bottom: 1px dashed gray;
}

.page-content a {
    color: var(--color-fg-semidark);
    text-decoration: none;
    border-bottom: 1px dashed var(--color);
}


.page-content a:hover {
    border-bottom: 1px solid var(--color);
}

.page-nav {
    grid-column: 2;
    border-bottom: 1px solid var(--color-fg);
    background: var(--color-content-bg);
    height: var(--navbar-height);
    position: sticky;
    top: 0;
    z-index: 1;
}

.page-nav-right a {
    color: var(--color-fg-semi);
}

.page-nav img {
    max-width: 100%;
}

.page-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px;
    padding-top: 0;
}


.page-nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px 5px 0 0;
}

.page-nav-link {
    color: var(--color-fg);
    font-size: 2rem;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid black;
}

.page-nav-link--selected,
.page-nav-link:hover {
    color: var(--color-fg);
    /*border-top: 1px solid black;*/
}

.page-nav-link--selected {
    border-top: 1px solid black;
}

.page-nav-link--selected,
.page-nav-link:active {
}

.page-container--navdocs {
    display: grid;
    grid-template-columns: 1fr 300px minmax(auto, 1368px) 1fr;
}

.page-container--navdocs > * {
    grid-column: 3;
}

.page-navdocs {
    grid-column: 2;
    padding: 10px;
    padding-left: 0;
    margin: 10px;
    border: 1px solid black;
    position: relative;
}

.page-navdocs > :first-child {
    position: sticky;
    top: 5px;
}

.page-footer {
    height: var(--footer-height);
    text-align: center;
    padding-top: 30px
}

.breadcrumb {
    color: var(--color);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 10px;
    margin-left: 0;
    display: inline-block;
}

.breadcrumb--selected {
    color: var(--color-fg-semi);
}

.page-nav ul div.logo {
    margin-top: 10px;
    position: relative;
}

.page-nav ul div.logo .logo-overlay {
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
}

.articles a {
    display: block;
    font-family: monospace;
}

.article--selected {
    background: var(--color-fg-semidark);
    color: white;
}

.cta-btn,
a.cta-btn {
    box-shadow: var(--btn-shadow-dist) var(--btn-shadow-dist) 0 var(--color-alt);
    background: white;
    color: var(--color-fg);
    font-weight: bolder;
    padding: 20px;
    --radius: calc(var(--btn-shadow-dist) * 3);
    border-radius: var(--btn-shadow-dist) var(--radius) var(--btn-shadow-dist) var(--radius);
    border: 1px solid var(--color-alt);
    display: inline-block;
    transition:
      background 0.15s,
      border 0.15s;
}

.cta-btn:hover,
a.cta-btn:hover {
    border: 1px solid var(--color-fg-semi);
}

.cta-btn:active,
a.cta-btn:active {
    background: var(--color-alt);
}

@media (max-width: 992px) {
    :host {
        --navbar-height: 50px;
    }
    .page-container--navdocs {
        display: block;
    }
    .page-nav-link {
        font-size: 1.2rem;
    }

    .page-nav ul {
        padding: 0;
    }
    .logo img {
        height: 30px;
    }
    .page-nav-right,
    .page-nav-right > * {
        font-size: 0.7rem;
    }
    .page-content h1 {
        text-align: center;
        background: none;
        padding-top: 5px;
    }
}

@media (max-width: 576px) {
    .page-nav-right {
        display: none;
    }
}
