{# The template used by Markdown / CMS Content pages #}

{% if page.tutorial %}
    <x-Page
        pagetitle="Tutorial - {{ page.tutorial }}"
        navselected="docs/"
        navbreadcrumb="Tutorial - {{ page.tutorial }}"
        navdocs=y
    >
        <div class="markdown-body">
            {{ page.body }}
        </div>
    </x-Page>
{% elif page.devlog %}
    <x-Page
        pagetitle="{{ page.title }}"
        shownews="true"
        navselected="index.html"
        navbreadcrumb="{{ page.title }}"
    >
        <h1 style="font-size: 3rem">{{ page.title }}</h1>

        <div class="markdown-body">
            <aside class="date-stamp">{{ page.devlog }}</aside>
            {{ page.body }}
        </div>
    </x-Page>
{% else %}
    <x-Page
        pagetitle="{{ page.title }}"
        navselected="docs/"
        navbreadcrumb="{{ page.title }}"
        navdocs=y
    >
        <div class="markdown-body">
            {{ page.body }}
        </div>
    </x-Page>
{% endif %}
