<div class="top-splash">
    <img 
        height="80"
        src="/static/images/percent_sign_logo.svg" alt="Percent sign logo"
        id="top_logo"
    />
    <h1><span>modulo</span><span class="ext">.js</span></h1>
    <div class="flying-letters">
        {% for letter in script.title %}
            <div class="letter letter-{{ letter }}">{{ letter|lower }}</div>
        {% endfor %}
    </div>
    <h2 style="color: var(--color-fg-semidark)">HTML Web Component Framework</h2>
    <ul>
        <li>Beginner-friendly features inspired by React, Svelte, and Vue.js</li>
        <li>Only 2000 lines of dependency-free, self-building JavaScript</li>
        <li>A &ldquo;no fuss&rdquo; drop-in for existing web apps or Jamstack static sites</li>
    </ul>

    <x-TabPane hadjust="true">
        <x tab-title="HelloCount">
            <x-DemoEditor
              src="/static/demos/eg/HelloCount.html"
              preview="<button style='font-size: 13.3px; font-weight: 400'>Hello 42</button>"
            ></x-DemoEditor>
        </x>
        <x tab-title="SimpleStyle">
            <x-DemoEditor src="/static/demos/eg/SimpleStyle.html"></x-DemoEditor>
        </x>
        <x tab-title="JSON">
            <x-DemoEditor src="/static/demos/eg/JSON.html"></x-DemoEditor>
        </x>
        <x tab-title="ToDo">
            <x-DemoEditor src="/static/demos/eg/ToDo.html"></x-DemoEditor>
        </x>
        <!--
        <x tab-title="Scatter">
            <x-DemoEditor src="/static/demos/eg/Scatter.html"></x-DemoEditor>
        </x>
        -->
        <x tab-title="Search">
            <x-DemoEditor src="/static/demos/eg/Search.html"></x-DemoEditor>
        </x>
        <x tab-title="Components">
            <!--
            <x-DemoEditor
                src="/static/demos/eg/Components.html"
                includes="/static/demos/eg/DemoModal.html,/static/demos/eg/DemoChart.html"
            ></x-DemoEditor>
            -->
            <x-DemoEditor
                src="/static/demos/eg/DemoModal.html"
                editex=true
example='
<p>Once defined, Modulo Web Components are used
   (and re-used) as if they were "real" HTML:</p>

<x-DemoModal><p>Oh look, I am in a modal!</p></x-DemoModal>

<hr />

<x-DemoModal button="Actor Info" title="Nic Cage">
    <img src="https://i.imgur.com/hJwIMx7.png" />
    <p>Nicholas Cage is a prolific Hollywood actor</p>
    <x-DemoModal button="Birthday">January 7th</x-DemoModal>
    <x-DemoModal button="Height">6ft (183cm)</x-DemoModal>
</x-DemoModal>
'></x-DemoEditor>

        </x>
        <x tab-title="MarkdownSrc">
            <x-DemoEditor src="/static/demos/eg/MarkdownPreview.html"></x-DemoEditor>
        </x>
        <x tab-title="MemoryGame">
            <x-DemoEditor src="/static/demos/eg/MemoryGame.html"></x-DemoEditor>
        </x>
    </x-TabPane>
</div>

