.top-splash { 
    height: calc(100vh - 100px);
    width: 100%;
    text-align: center;
}

img {
    height: 80px;
}

h1 span {
    font-size: 3rem;
    margin: 0;
    font-weight: lighter;
    line-height: 1.15;
    font-weight: 500;
    letter-spacing: -2px;
    font-size-adjust: 0.46;
}

h1 span.ext {
    color: var(--color);
    font-size: 2.3rem;
}

.flying-letters {
    font-weight: lighter;
    position: fixed;
    height: 0;
    top: 0;
    left: 0;
    display: block;
    visibility: hidden;
    width: 80px;
    height: 80px;
    z-index: 2;
    transition:
        top 0.12s,
        left 0.12s;
}

.flying-letters .letter {
    position: absolute;
    font-size: 3rem;
    transition:
        top 0.5s,
        font-size: 0.7s,
        left 0.2s;
}

.as-title .letter { font-size: 1rem; }
.as-title .letter-m { left: 0; top: 0; }
.as-title .letter-o { left: 1.04em; top: 0; }
.as-title .letter-d { left: 1.68em; top: 0; }
.as-title .letter-u { left: 2.42em; top: 0; }
.as-title .letter-l { left: 3.19em; top: 0; }
.as-title .letter-O { left: 3.50em; top: 0; }


.as-logo .letter-m { left: 0.2rem; top: 0.2rem; }
.as-logo .letter-o { left: 1.14em; top: 0.2rem; }
.as-logo .letter-d { left: 0.2rem; top: 1.65rem; }
.as-logo .letter-u { left: 0.74em; top: 1.4rem; }
.as-logo .letter-l { left: 1.59em; top: 0.8rem;
        transform: rotate(32deg); }
.as-logo .letter-O { left: 1.79em; top: 1.6rem; }

.as-title .letter { font-size: 2.4rem; }
.as-logo .letter { font-size: 1.8rem; }

h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
}

ul {
    text-align: left;
}

li {
    font-size: 1.3rem;
    margin-left: 150px;
    list-style: none;
    margin-bottom: 7px;
}

li::before {
    content: '٪';
    color: var(--color);
    display: inline-block;
    margin-right: 5px;
    padding-right: 5px;
    font-size: 1rem;
    font-weight: 800;
    /*
    transform: rotate(0deg);
    margin-bottom: 20px;
    transition: transform 0.1s;
    */
}


/*
li:hover::before {
    transform: rotate(180deg);
}
*/

.demo-container {
    border: black 1px solid;
}

@media (max-width: 992px) {
    li {
        margin: 0;
        margin-bottom: 20px;
        text-indent: -0.5rem;
    }
    li::before {
        margin: 0;
    }
}

@media (max-height: 700px) {
    h2 {
        font-size: 1rem;
        margin: 0;
    }
    li {
        font-size: 1rem;
        margin-bottom: 0;
    }
}

@media (min-height: 700px) {
    x-TabPane {
        margin-top: 5vh;
    }
}

/*
@media (min-width: 1150px) {
    x-TabPane {
        margin-left: -150px;
        margin-right: -150px;
    }
}
*/

@media (min-width: 1150px) {
    x-TabPane {
        margin-left: -50px;
        margin-right: -50px;
    }
}
